{% extends "base.html" %}
{% block title %}Matriculados - Web de David Ruscalleda{% endblock %}

{% block extra_head %}
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-database.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.10.0/firebase-auth.js"></script>
{% endblock %}

{% block content%}

<div class="mx-2">

<h1 class="text-center mt-2">[Matriculados]</h1>
<h3 class="text-center mb-4">(Prototip)</h3>

<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <canvas id="app" tabindex="0" onkeyup="canvas_hotkeys(event);"></canvas>
    </div>
    <div class="col">
      <div class="input-group input-group-sm mt-2 mb-1">
        <div class="input-group-prepend">
          <span class="input-group-text border-secondary bg-danger"></span>
          <span class="input-group-text border-secondary">Jo </span>
        </div>
        <input id="nom" class="col" type="text" value="{{nom}}" onchange="nou_nom();">
      </div>
      <div class="input-group input-group-sm mt-0">
        <div class="input-group-prepend">
          <span class="input-group-text border-secondary bg-info"></span>
          <span class="input-group-text border-secondary">vs </span>
        </div>
        <input id="vs" class="col readonly" type="text" value="-" readonly>
      </div>
      <br>
      <div class="card border-secondary">
        <div class="card-header py-0">
          <i>En línia...</i>
        </div>
        <div class="card-body">
          <span id="jo">🔹 {{nom}}</span> [jo]
          <br>
          <div id="tu">
          </div>
          <hr class="my-1 border-secondary">
          <div id="ells">
            🔸 ...
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<hr>
  <p>
    2 Jugadors
  </p>
  <!-- FIREBASE -->
  <script>
    //////////////////// FIREBASE //////////////////////
    // Your web app's Firebase configuration
    const firebaseConfig = {
      apiKey: "AIzaSyC_z8xOu9Zm38AEYKFelsfr67XuPIsEyAQ",
      authDomain: "matriculados-bf687.firebaseapp.com",
      databaseURL: "https://matriculados-bf687-default-rtdb.europe-west1.firebasedatabase.app",
      projectId: "matriculados-bf687",
      storageBucket: "matriculados-bf687.appspot.com",
      messagingSenderId: "63946024344",
      appId: "1:63946024344:web:f82b295694a476f1ffb7ed"
    };

    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    const db = firebase.database();


    let playerId;
    let playerRef;
    let players = {};
    let currentGame = null;
    let games = {};

    (function () {

      // initialization
      function initGame(){
        console.log("init game...");
        const allPlayersRef = firebase.database().ref('players');

        // when changes occur...
        allPlayersRef.on("value", (snapshot) => {
          players = snapshot.val() || {};
          console.log("something changed");
          update_names();
        });

        // when a new node is added...
        allPlayersRef.on("child_added", (snapshot) => {
          console.log("someone new");
        });

        const allGamesRef = firebase.database().ref('games');

        allGamesRef.on("value", (snapshot) => {
          games = snapshot.val() || {};
          console.log("game changed");
          update_names();
          Object.keys(games).forEach((g) => {
            if(g == currentGame){
              db_update_board();
            }
          });
        });

        allGamesRef.on("child_added", (snapshot) => {
          console.log("game added");
        });
      }

      // authentication
      firebase.auth().onAuthStateChanged((user) => {
        console.log("USER", user);
        if (user) {
          console.log("logged in");
          playerId = user.uid;
          playerRef = firebase.database().ref('players/' + playerId);

          playerRef.set({
            name: "{{nom}}",
            games: {now: "none"}
          })

          playerRef.onDisconnect().remove();

          initGame();
        } else {
          console.log("logged out");
        }
      });

      firebase.auth().signInAnonymously().catch((error) => {
        var errorCode = error.code;
        var errorMessage = error.message;
        console.log(error(errorCode, errorMessage));
      });

    })();
    ////////////////////////////// GAME ///////////////////////
    //////////////// Global vars //////////////
    let cWidth;
    let cHeight;

    //tablero
    let cols = 4;
    let rows = 9;
    let n_players = 5;

    // visualization
    let selected = -42;
    let back_visible = false;
    let tools = {0: "flip", 1: "select/flip"};
    let tool = 1;

    // otras
    let op_letras = ["A", "B", "C", "D", "E"];
    let alt_countries = ["F", "P", "D", "I"];
    let current_card = null;

    //////////////// Clases ///////////////////
    class Carta {
      constructor(num, lletres, side, country){
        this.num = num;
        this.lletres = lletres;
        this.side = side || 1;  // visible
        this.country = country || "E";
      }

      flip(){
        this.side = this.side == 0?1:0;
      }
    }

    class Button {
      constructor(x, y, w, h, code){
        this.x = x;
        this.y = y;
        this.w = w;
        this.h = h;
        this.code = code
      }
    }

    /////////////// Objects ///////////////////
    let deck_size = 100;
    let deck = [];
    let grid_cards = [];
    const player_piles = [];
    for (let i = 0; i < n_players; i++) {
      player_piles.push([]);
    }

    ////////////////// inicio /////////////////
    window.onload = function(){
      // dom
      c = document.getElementById("app");
      jo = document.getElementById("jo");
      vs = document.getElementById("vs");
      nom = document.getElementById("nom");
      ells = document.getElementById("ells");

      // medidas
      cWidth = 650;
      cHeight = 500;
      c.width = cWidth;
      c.height = cHeight;
      u = cHeight/1200;  // unidad de medidas
      m = 20*u;  // margen laterales
      wCard = 260*u;  // ancho carta
      hCard = 60*u;  // alto carta
      mC = 20*u;  // margen entre cartas
      // Players piles
      hPlayers = 160*u;
      // UI
      xDeck = 200*u;
      yDeck = 100*u;
      ui_buttons = [];
      ui_buttons.push(new Button(xDeck, yDeck, wCard, hCard, "deck"));
      for(let i=0; i<n_players; i++){
        ui_buttons.push(new Button(xDeck+wCard+3*m+(hCard+m)*i, yDeck, hCard, hCard, "p"+i.toString()));
      }
      ui_buttons.push(new Button(xDeck+wCard+3*m+(hCard+m)*n_players, yDeck, hCard, hCard, "x"));

      // inicia dibujo
      cc = c.getContext("2d");

      // inicialitza peces
      init_board();

      // dibujo recurrente (creo que sólo on_event, así que nada)
      update();
      //setInterval(update, Math.round(1000/fps));

      c.addEventListener("click", onClick, false);
    }

    /////////////////// init board ////////////
    function init_board(){
      for(let i=0; i<deck_size; i++){
        num = Math.floor(Math.random()*9999);
        letras = "";
        for(let j=0; j<3; j++){
          letras += op_letras[Math.floor(Math.random()*op_letras.length)]
        }
        if(Math.random()>0.8){
          country = alt_countries[Math.floor(Math.random()*alt_countries.length)];
        }else{
          country = "E";
        }
        deck.push(new Carta(num, letras, 0, country));
      }
      reset_board();
    }

    function pop_card(selected){
      let card;
      selected = selected || -42;
      if(selected<0 && selected >= -n_players){
        if(player_piles[-selected-1].length<1){
          return null;
        }
        return player_piles[-selected-1].pop();
      }else if(selected == -100){
        card = current_card;
        current_card = pop_card();
        return card;
      }else if(selected >= 0){
        card = grid_cards[selected];
        grid_cards[selected] = pop_card();
        return card;
      }
      card = deck.pop();
      card.side = 0;
      return card || new Carta(0, "!!!", 0, "?");
    }

    function reset_board(){
      // return cards to main deck
      for(let card of grid_cards){
        deck.push(card);
      }
      grid_cards = [];
      i = 0;
      for(let pile of player_piles){
        for(let card of pile){
          deck.push(card);
        }
        player_piles[i] = [];
        i++;
      }
      // shuffle deck
      shuffle(deck);
      // deal new grid
      for(let i=0; i<cols*rows; i++){
        grid_cards.push(pop_card());
      }
      // deal new current card
      current_card = pop_card();
    }

    /////////////////// dibujo ///////////////
    function update(){
      // previos
      cc.lineWidth = 5*u;
      cc.font = (40*u).toString() + "px Courier New";
      cc.textBaseline = "middle";
      cc.textAlign = "center";

      // fondo
      cc.fillStyle = "white";
      cc.fillRect(0, 0, cWidth, cHeight);

      // borde
      cc.strokeStyle = "black";
      cc.strokeRect(m, m, cWidth-2*m, cHeight-2*m);

      // fichas
      i = 0;
      for(let card of grid_cards){
        console.log("Drawing cards");
        [x, y] = getPosition(i)

        draw_card(card, x, y, selected==i);
        i++;
      }

      // menú / debugging info
      cc.fillStyle = "black";
      cc.fillText(tools[tool], cWidth-20*m, 7*m);
      //deck
      if(current_card){
        draw_card(current_card, xDeck, yDeck, selected == -100);
      }
      // player buttons
      cc.strokeStyle = "black";
      i = 0;
      for(let b of ui_buttons){
        if(b.code.startsWith("p") || b.code == "x"){
          if(b.code == "x"){
            cc.fillStyle = "darksalmon";
          }else{
            cc.fillStyle = "lightblue";
          }
          cc.fillRect(b.x, b.y, b.w, b.h);
          cc.strokeRect(b.x, b.y, b.w, b.h);
          cc.fillStyle = "black";
          cc.fillText(b.code, b.x+b.w/2, b.y+b.h/2);
        }
        i++;
      }

      //Player piles
      cc.strokeStyle = "black";
      cc.strokeRect(m, cHeight-m, cWidth-2*m, -hPlayers);
      cc.strokeRect(m, cHeight-m, cWidth-2*m, -hPlayers);
      i = 0;
      for(let pile of player_piles){
        cc.font = (40*u).toString() + "px Courier New";
        [x, y] = getPilePosition(i);
        console.log(i, x, y);
        if(pile.length>0){
          draw_card(pile[pile.length-1], x, y, selected==-i-1);
        }else{
          cc.strokeRect(x, y, wCard, hCard);
        }
        cc.fillStyle = "black";
        cc.font = (30*u).toString() + "px Courier New";
        cc.fillText("cartes: " + pile.length.toString(), x+wCard/2, y-20*u);
        cc.fillText("Jugador " + i.toString(), x+wCard/2, y+hCard+20*u);
        i++;
      }
    }

    ////////////// drawing tools //////////////
    // circles
    function drawCircle(cc, x, y, r, stroke, fill){
      cc.beginPath();
      cc.arc(x, y, r, 0, 2 * Math.PI, false);
      if(fill){
          cc.fill();
      }
      if(stroke){
          cc.stroke();
      }
    }

    function draw_card(card, x, y, selected){
      // selection
      if(selected){
        cc.fillStyle = "orange";
        cc.fillRect(x-5*u, y-5*u, wCard+10*u, hCard+10*u);
      }
      if(card.side == 1){
        cc.fillStyle = "white";
      }else{
        cc.fillStyle = "lightgrey";
      }
      cc.fillRect(x, y, wCard, hCard);

      if(card.side == 1 || back_visible){
        // country banner
        cc.fillStyle = "#285bd1";  // europe blue
        cc.fillRect(x, y, 38*u, hCard);
        cc.strokeStyle = "#f7d62d";  // europe yell
        cc.lineWidth = 4*u;
        drawCircle(cc, x+19*u, y+17*u, 8*u, true, false);
        cc.fillStyle = "white";
        cc.font = (30*u).toString() + "px Courier New";
        cc.fillText(card.country, x+19*u, y+hCard*0.72)
        // plate
        cc.fillStyle = "black";
        cc.font = (40*u).toString() + "px Courier New";
        cc.fillText(card.num.toString().padStart(4, "0") + " " + card.lletres,
                    x+wCard/2+18*u, y+hCard/2+2*u);
      }


      cc.lineWidth = 3*u;
      cc.strokeStyle = "black";
      cc.strokeRect(x, y, wCard, hCard);
    }

    function getCoordinates(n){
        return [Math.floor(n/cols), n%cols];
    }

    function getPosition(n){
      coord = getCoordinates(n);
      x = m+(coord[1]+0.2)*(wCard+mC);
      y = cHeight-(hCard+mC)*(rows+3)+(coord[0]+0.5)*(hCard+mC);
      return [x, y];
    }

    function getPilePosition(player_num){
      x = 2.5*mC + (wCard+mC*2)*player_num;
      y = cHeight-hPlayers/2-hCard/2-m;
      return [x, y]
    }

    ///////////////// KeyUp ////////////////
    function canvas_hotkeys(e){
        switch(e.key){
          case "s":
            tool = 1;
            break;
          case "f":
            tool = 0;
            break;
          case "o":
            back_visible = !back_visible;
            break;
        }
        update();
    }
    window.addEventListener("keydown", function(e){
        if((e.key==" ") && document.activeElement==c){
            e.preventDefault();
        }
    }, false);

    /////////////////// OnClick ////////////////
    function onClick(e) {
          const rect = c.getBoundingClientRect();
          const relX = event.clientX - rect.left;
          const relY = event.clientY - rect.top;
          xCur = relX * c.width / rect.width;
          yCur = relY * c.height / rect.height;

        // MAIN
        // ui buttons
        let found = false;
        for(let b of ui_buttons){
          if(xCur > b.x && xCur < b.x+b.w && yCur >b.y && yCur < b.y+b.h){
            found = true;
            if(b.code.startsWith("p")){
              p = parseInt(b.code.slice(1));
              if(selected<0 && selected >= -n_players){  // p1: -1, p2: -2, ...
                if(player_piles[-selected-1].length<1){
                  break;
                }
                player_piles[p].push(player_piles[-selected-1].pop());
                selected = -42;

              }else if(selected == -100){  // default: current card
                if(current_card.side == 0){
                  break;
                }
                player_piles[p].push(current_card);
                current_card = pop_card();
                selected = -42;

              }else if(selected>=0){  // selected from grid
                if(grid_cards[selected].side == 0){
                  break;
                }
                player_piles[p].push(grid_cards[selected]);
                grid_cards[selected] = pop_card();
                selected = -42;
              }

              break;
            }else{
              switch(b.code){
                case "deck":
                  current_card.flip();
                  selected = -100;
                  break;
                case "x":
                  card = pop_card(selected);
                  if(card){
                    deck.unshift(card);
                  }
                  selected = -42;
              }
            }
          }
        }

        // piles
        for(let i=0; i<n_players; i++){
          [x, y] = getPilePosition(i);
          if(xCur > x && xCur < x+wCard && yCur > y && yCur < y + hCard){
            found = true;
            if(player_piles[i].length>0){
              selected = -i-1;
            }
          }
        }

        // cards
        i = 0;
        for(let card of grid_cards){
          pos = getPosition(i);
          if(xCur > pos[0] && xCur < pos[0] + wCard
             && yCur > pos[1] && yCur < pos[1] + hCard){
            found = true;
            if(tool == 0){
              card.flip();
            }else{
              if(selected == i){
                card.flip();
                selected = -42;
              }else{
                if(card.side == 0){
                  card.flip();
                }
                selected = i;
              }
            }
            break;
          }
          i++;
        }
        if(!found){
          selected = -42;
        }

        update();
        if(currentGame){
          upload_board();
        }
    }
    ///////////////////// Utilities /////////////////////
    function shuffle(array) {  // Fisher-Yates
      for (let i = array.length - 1; i > 0; i--) {
        let j = Math.floor(Math.random() * (i + 1));
        [array[i], array[j]] = [array[j], array[i]];
      }
    }
    //////////////////// html UI ///////////////////
    function nou_nom(){
      jo.innerHTML = "🔹 " + nom.value;
      players[playerId].name = nom.value;
      playerRef.set(players[playerId]);
    }

    function nova_partida(vs_uid){
      console.log("partida amb " + vs_uid);
      game_id = playerId + vs_uid;
      games[game_id] = {
        status: "waiting",
        player1: playerId,
        player2: vs_uid,
        board: get_board_state()
      }
      gameRef = firebase.database().ref("/games/" + game_id);
      gameRef.set(games[game_id]);
      players[playerId].games[vs_uid] = game_id;
      playerRef.set(players[playerId]);
      players[vs_uid].games[playerId] = game_id;
      vsRef = firebase.database().ref("players/" + vs_uid + "/games/" + playerId);
      vsRef.set(players[vs_uid].games[playerId]);
    }

    function acceptar_partida(game_id){
      console.log("acceptada partida" + game_id);
      games[game_id].status = "playing";
      gameRef = firebase.database().ref("/games/" + game_id);
      gameRef.set(games[game_id]);
      mostrar_partida(game_id);
      reset_board();
      upload_board();
    }

    function mostrar_partida(game_id){
      currentGame = game_id; // joc actiu
      for(let p of [games[game_id].player1, games[game_id].player2]){
        console.log("checking " + p);
        if(p != playerId){
          vs.value = players[p].name;
        }
      }
      update_names();
      db_update_board();
    }

    function get_board_state(){
      let board_state = {
        grid: [],
        deck: [],
      };
      for(let card of grid_cards){
        board_state.grid.push([card.num, card.lletres, card.side, card.country]);
      }
      for(let card of deck){
        board_state.deck.push([card.num, card.lletres, card.side, card.country]);
      }
      return board_state;
    }

    function upload_board(){
      games[currentGame].board = get_board_state();
      gameRef = firebase.database().ref("/games/" + currentGame);
      gameRef.set(games[currentGame]);
    }

    function db_update_board(){
      Object.keys(games[currentGame].board.grid).forEach((card) => {
        grid_cards = []
        grid_cards.push(new Carta(card[0], card[1], card[2], card[3]));
      });
      Object.keys(games[currentGame].board.deck).forEach((card) => {
        deck = []
        deck.push(new Carta(card[0], card[1], card[2], card[3]));
      });
      update();
    }

    function update_names(){
      ells.innerHTML = ""
      Object.keys(players).forEach((p) => {
        if(p != playerId){
          if(p in players[playerId].games){
            game_id = players[playerId].games[p]
            g = games[game_id];
            if(g.status == "waiting"){
              if(g.player1 == playerId){
                link = " [esperant...]";
              }else{
                link = " [<a href='javascript:acceptar_partida(" + '"' + game_id + '"' + ")'>acceptar</a>]";
              }
            }else{
              if(game_id == currentGame){
                link = " [actiu]"
              }else{
                link = " [<a href='javascript:mostrar_partida(" + '"' + game_id + '"' + ")'>mostrar</a>]";
              }
            }
          }else{
            link = " [<a href='javascript:nova_partida(" + '"' + p + '"' + ")'>juguem</a>]"
          }
          ells.innerHTML += "🔸 " + players[p]["name"] + link + "<br>"
        }
      })
    }
 </script>
{% endblock %}

</div>
