{% extends "/kubb_live/klive_base.html" %}
{% block title %}Tomba el rei{% endblock %}

{% block extra_head %}
{% endblock %}

{% block content %}
<a href="/tombaelrei" class="btn khead btn-block text-center px-3 py-1">Tomba el rei 2025</a>
<div class="btn ksub btn-block text-center mt-0 px-3 py-1 mb-4">Resultats en directe</div>
<div class="m-3">
    <a href="/tombaelrei/teams" class="btn kbtn btn-block py-2">Equips</a>

    <hr class="khr my-3" data-content="★">

    {% for rnum, round_ in rounds.items() %}
        {% set final = round_.get("type") == "final" %}
        <a href="/tombaelrei/rounds/{{rnum}}" class="btn kbtn btn-block py-2 mb-3 {{'bg-gold' if final else ''}}">{{"Final" if final else "Ronda " + rnum}}</a>
    {% endfor %}
    {% if current_user.is_kubb_admin %}
    <a href="/tombaelrei/add_round" class="btn kbtn kbtn-admin btn-block py-2 my-4">+</a>
    {% endif %}

</div>
{% endblock %}