<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Equips - Tomba el rei</title>

    <!-- My CSS -->
    <link rel="stylesheet" href="/static/styles/klive.css?date=20251012">

    <script>
        var base_url = "/klive/ajax/";

        function add_team(){
            console.log("adding team to the tournament");
            $.ajax({
                url: base_url + "add_team",
                type: "post",
                data: {
                    "hola": "és que no hi havia res a enviar, ja em sap greu",
                },
                success: add_team_execute,
            });
        };
        function add_team_execute(ajax_result){
            if(ajax_result.success){
                let new_id = ajax_result.new_id;
                console.log("New team at id #", new_id, "opening new team to edit...");
                window.location.href = "/tombaelrei/teams/" + new_id + "/";
            }
        }
    </script>
</head>
<body>
    <a href="/tombaelrei" class="btn khead btn-block text-center px-3 py-1">Tomba el rei 2025</a>
    <a href="/tombaelrei/teams" class="btn ksub btn-block text-center mt-0 px-3 py-1 mb-4">Equips</a>
    <div class="m-3">
        {% for id_, team in teams.items() %}
        <a class="btn kbtn btn-block" href="/tombaelrei/teams/{{id_}}">
            <table class="w100 mb-0">
                <tr>
                    <td class="w20 b-right teams-text">{{ id_ }}</td>
                    <td class="teams-text">{{ team.get("name", "(Equip " + id_ + ")") }}</td>
                </tr>
            </table>
        </a>
        {% endfor %}
        {% if current_user.is_kubb_admin %}
        <button class="kbtn kbtn-admin btn-block py-2 my-3" onclick="add_team();">+</button>
        {% endif %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</body>
</html>