{% extends "/kubb_live/klive_base.html" %}
{% block title %}Ronda - Tomba el rei{% endblock %}

{% block extra_head %}
    {% if current_user.is_kubb_admin %}
    <script>
        window.addEventListener("pageshow", function (event) {
            if(event.persisted){
                console.log("Cache? Things may be out of date. Reloading...");
                location.reload(true);
            }
        });

        var base_url = "/klive/ajax/";

        function add_match_to_round(rnum){
            console.log("adding match to round " + rnum);
            S.post({
                url: base_url + "add_match",
                data: {
                    "rnum": rnum,
                },
                success: add_match_execute,
            });
        };
        function add_match_execute(ajax_result){
            if(ajax_result.success){
                let new_id = ajax_result.new_id;
                console.log("New match at id #", new_id, "opening new match to edit...");
                window.location.href = "/tombaelrei/edit_match/{{rnum}}/" + new_id + "/";
            }
        }

        function remove_round(rnum){
            console.log("removing round " + rnum);
            S.post({
                url: base_url + "remove_round",
                data: {
                    "rnum": rnum,
                },
                success: remove_round_execute,
            });
        };
        function remove_round_execute(ajax_result){
            if(ajax_result.success){
                window.location.href = "/tombaelrei";
            }
        }
    </script>
    {% endif %}
{% endblock %}

{% block content %}
<a href="/tombaelrei" class="btn khead btn-block text-center px-3 py-1">Tomba el rei 2025</a>
<a href="/tombaelrei/rounds/{{rnum}}" class="btn ksub btn-block text-center mt-0 px-3 py-1 mb-4">{{"Final" if round_.get("type") == "final" else "Ronda " + rnum}}</a>
<div class="m-3">
    <a href="/tombaelrei/rounds/{{rnum}}/ranking" class="btn kbtn btn-block py-2">Classificació</a>

    <hr class="khr my-3" data-content="★">

    {% for match_id, match in round_.get("matches", {}).items() %}
        {% set match_teams = match.get("teams", ["", ""]) %}
        {% set result = match.get("result", ["K", "K"]) %}
        {% set t0 = teams.get(match_teams[0], {}).get("name", "Equip") %}
        {% set t1 = teams.get(match_teams[1], {}).get("name", "Equip") %}

        {% set match_done = "6" in result %}
        {% if current_user.is_kubb_admin %}
            {% set match_press_url = '/tombaelrei/edit_match/' + rnum + '/' + match_id + '/' %}
        {% else %}
            {% set match_press_url = '/tombaelrei/teams/' %}
        {% endif %}
        <a href="{{match_press_url}}" class="btn kbtn btn-block mb-3">
            <table class="w100 mb-0">
                <tr>
                    {% if "final" in match %}
                    <td rowspan="2" class="table-final br-tl br-bl table-final-{{match['final']}}">{{match["final"]}}</td>
                    {% endif %}
                    <td class="text-left px-2 table-team">{{t0}}</td>
                    {% set result_class = '' if not match_done else "winner" if result[0] == "6" else "loser" %}
                    <td class="b-left br-tr table-punts {{result_class}}">{{result[0]}}</td>
                </tr>
                <tr>
                    <td class="b-top text-left px-2 table-team">{{t1}}</td>
                    {% set result_class = '' if not match_done else "winner" if result[1] == "6" else "loser" %}
                    <td class="b-top b-left br-br table-punts {{result_class}}">{{result[1]}}</td>
                </tr>
            </table>
        </a>
    {% endfor %}

    {% if current_user.is_kubb_admin %}
        {% if not all_busy %}
        <button class="kbtn kbtn-admin btn-block py-2 my-4" onclick="add_match_to_round({{rnum}});">+</button>
        {% endif %}

        {% if not round_.get("matches", {}) %}
        <hr class="khr my-3" data-content="★">
        <button class="kbtn kbtn-elimina btn-block py-2" onclick="remove_round({{rnum}});">Elimina la ronda</button>
        {% endif %}
    {% endif %}
</div>
{% endblock %}