{% extends "/kubb_live/klive_base.html" %}
{% block title %}Afegir ronda - Tomba el rei{% endblock %}
{% block extra_head %}
{% if current_user.is_kubb_admin %}
    <script>
        var base_url = "/klive/ajax/";

        function add_round(rtype){
            console.log("adding round: " + rtype);
            $.ajax({
                url: base_url + "add_round",
                type: "post",
                data: {
                    "rtype": rtype,
                },
                success: add_round_execute,
            });
        }
        function add_round_execute(ajax_result){
            if(ajax_result.success){
                window.location.href = "/tombaelrei/";
            }
        }
    </script>
    {% endif %}
{% endblock %}

{% block content %}
<div class="m-3">
    <button class="kbtn kbtn-admin kbtn-huge btn-block py-2" onclick="add_round('normal');">Ronda suïssa</button>
    <hr class="khr my-3" data-content="★">
    <button class="kbtn kbtn-admin kbtn-huge btn-block py-2" onclick="add_round('final');">Final</button>
</div>
{% endblock %}