{% extends "/kubb_live/klive_base.html" %}
{% block title %}Equips - Tomba el rei{% endblock %}

{% block extra_head %}
    {% if current_user.is_kubb_admin %}
    <script>
        var base_url = "/klive/ajax/";

        function add_team(){
            console.log("adding team to the tournament");
            S.post({
                url: base_url + "add_team",
                data: {
                    "hola": "és que no hi havia res a enviar, ja em sap greu",
                },
                success: add_team_execute,
            });
        };
        function add_team_execute(ajax_result){
            if(ajax_result.success){
                let new_id = ajax_result.new_id;
                console.log("New team at id #", new_id, "opening new team to edit...");
                window.location.href = "/tombaelrei/teams/" + new_id + "/";
            }
        }
    </script>
    {% endif %}
{% endblock %}

{% block content %}
<a href="/tombaelrei" class="btn khead btn-block text-center px-3 py-1">Tomba el rei 2025</a>
<a href="/tombaelrei/teams" class="btn ksub btn-block text-center mt-0 px-3 py-1 mb-4">Equips</a>
<div class="m-3">
    {% for id_, team in teams.items() %}
    <a class="btn kbtn btn-block" href="/tombaelrei/teams/{{id_}}">
        <table class="w100 mb-0">
            <tr>
                <td class="w20 b-right teams-text">{{ id_ }}</td>
                <td class="teams-text">{{ team.get("name", "(Equip " + id_ + ")") }}</td>
            </tr>
        </table>
    </a>
    {% endfor %}
    {% if current_user.is_kubb_admin %}
    <button class="kbtn kbtn-admin btn-block py-2 my-3" onclick="add_team();">+</button>
    {% endif %}
{% endblock %}