{# Calculadora de notes de les pap #}

<h3 class="mt-3 text-center">Calculadora de les PAP</h3>
<p class="mt-2 text-center">Marca quins exercicis has fet bé i comprova quina nota tindries.</p>

<div class="container">
    <div class="row mb-3 justify-content-center">
        <div class="col-md-4">
            <div class="card mx-4 border-c text-center">
                <div class="card-body p-1">
                    <span id="curtes">0.0</span> + <span id="llargues">0.0</span> = <b><span id="total">0.0</span></b><br>
                   <b><span id="nota">0.0</span></b><br>
                    <span id="conclusio">Suspès</span>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row mb-3 justify-content-center">
    {% for i in range(10) %}
        {% set q = i+1 %}
        <div class="col-auto px-1">
            <div class="card bg-light border-c p-1 mb-1">
                <b class="mb-1 text-center">Q{{q}}</b>
                <button id="Q{{q}}-4" class="btn btn-success mb-1 py-1 btn-disabled" onclick="select({{q}}, 4); calcula();">0.4</button>
                <button id="Q{{q}}-0" class="btn btn-danger py-1" onclick="select({{q}}, 0); calcula();">0</button>
            </div>
        </div>
    {% endfor %}
    </div>
    <div class="row justify-content-center">
        {% for i in range(5) %}
        <div class="col-auto px-1">
            <div class="card bg-light border-c mb-1">
                <h6 class="card-header text-center py-1">Problema {{i+1}}</h6>
                <div class="container">
                    <div class="row justify-content-center">
                        {% for j in range(2) %}
                        <div class="col-auto px-1 text-center py-1">
                            {% set q = 10+2*i+j+1 %}
                            <b class="text-center">Q{{q}}</b><br>
                            <button id="Q{{q}}-6" class="btn btn-block btn-success mt-1 mb-1 py-1 btn-disabled" onclick="select({{q}}, 6); calcula();">0.6</button>
                            <button id="Q{{q}}-4" class="btn btn-block btn-primary mb-1 py-1 btn-disabled" onclick="select({{q}}, 4); calcula();">0.4</button>
                            <button id="Q{{q}}-2" class="btn btn-block btn-warning mb-1 py-1 btn-disabled" onclick="select({{q}}, 2); calcula();">0.2</button>
                            <button id="Q{{q}}-0" class="btn btn-block btn-danger py-1" onclick="select({{q}}, 0); calcula();">0</button>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<script>
    function select(q, optn){
        for(let num of [6, 4, 2, 0]){
            let btn = document.getElementById("Q" + q + "-" + num);
            if(btn == undefined){
                continue;
            }
            if(optn == num){
                btn.classList.remove("btn-disabled");
            }else{
                btn.classList.add("btn-disabled");
            }
        }
    }

    function calcula(){
        let t_nota = document.getElementById("nota");
        let t_total = document.getElementById("total");
        let t_curtes = document.getElementById("curtes");
        let t_llargues = document.getElementById("llargues");
        let t_conc = document.getElementById("conclusio");
        let curtes = 0;
        let llargues = 0;

        // curtes
        for(let q=1; q<11; q++){
            let btn = document.getElementById("Q" + q + "-4");
            if(!btn.classList.contains("btn-disabled")){
                curtes += 0.4;
            }
        }

        // llargues
        for(let q=11; q<21; q++){
            for(let n of [6, 4, 2]){
                let btn = document.getElementById("Q" + q + "-" + n);
                if(!btn.classList.contains("btn-disabled")){
                    llargues += n/10;
                }
            }
        }

        // escriu
        let total = curtes+llargues;
        t_total.innerHTML = (total).toFixed(1);
        t_curtes.innerHTML = (curtes).toFixed(1);
        t_llargues.innerHTML = (llargues).toFixed(1);
        let nota = Math.round(total*2)/2;
        t_nota.innerHTML = nota.toFixed(1);
        t_conc.innerHTML = nota >= 5 ? "Aprovat"
                            : nota >= 4 ? "Fa mitjana"
                            : "Suspès";
    }
</script>