<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data d'Avui</title>
    <style>
        #data {
            font-size: 50px;
            font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Osaka, "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
        }

        #quadrat {
            border: 1px solid black;
            text-align: center;
        }
    </style>
</head>
<body>
<div id="quadrat">
    <div id="data">?</div>
</div>
</body>
<script>
    div = document.getElementById("data");

    let weekday = new Array(7);
    weekday[0] = "☀️";
    weekday[1] = "🌙";
    weekday[2] = "🔥";
    weekday[3] = "💧";
    weekday[4] = "🌲";
    weekday[5] = "⚜️";
    weekday[6] = "⛰";

    let today;
    let hrs;
    let mins;
    let dayOfWeek;
    let date;
    let time;

    function update_clock(){
        today = new Date();
        hrs = today.getHours();
        mins = today.getMinutes().toString().padStart(2, "0");
        dayOfWeek = weekday[today.getDay()];
        date = (today.getMonth()+1) + '月' + today.getDate() + "日" + " " + dayOfWeek;

        time = hrs + ":" + mins;

        div.innerHTML = date + " " + time;
    }

    update_clock();
    setInterval(update_clock, 1000);
</script>
</html>