# cache de pythonanywhere
*.pyc

#fitxers ocults (.coses)
.*
!.gitignore

#imatges
*.png
*.jpg
*.jpeg
*.psd
*.pdf

#json
*.json

#altres
*.apkg

#fitxers en concret
secretos.py
sqlite_db

#venv
/.venvs