{# user profile block to be placed on the different apps' user profile pages #}

<!-- profile management script -->
<script>
    var t_last_input = Date.now();
    var t_last_check = Date.now();
    var min_delta = 500;
    var base_url = "/u/ajax/";

    var check_icon;

    window.onload = function(){
        setInterval(check_if_needed, 500);
        check_icon = document.getElementById("check_icon");
        load_date();
    }

    function check_if_needed(){
        if(t_last_input - t_last_check > 0 && Date.now() - t_last_input > min_delta){
            let chosen_username = document.getElementById("chosen_username").value;
            set_check_icon("? (comprovant)");
            t_last_check = Date.now();

            $.ajax({
                url: base_url + "username_exists",
                type: "post",
                data: {"username": chosen_username},
                success: check_execute
            });
        }
    }
    function check_execute(taken){
        console.log("Taken?", taken);
        set_check_icon(taken == "Y" ? "x (ja existeix)" : "✓");
    }

    function submit_new_username(){
        let chosen_username = $('#chosen_username').val()  // ho sé, estic mig migrat a jQuery i mig no. és que AJAX
        if(valida(chosen_username)){
            $.ajax({
                url: base_url + "submit_username",
                type: "post",
                data: {"username": chosen_username},
                success: submit_execute,
            });
        }
    }
    function submit_execute(success){
        if(success == "Y"){  // success in changing it
            location.reload();
        }else{
            check_execute("Y");  // yes it's taken
        }
    }

    function valida(usuari){
        return /{{username_regex}}/.test(usuari)
    }

    function reset_checking(input_value){
        t_last_input = Date.now();
        if(valida(input_value)){
            set_check_icon("? (comprovant)")
        }else{
            set_check_icon(input_value ? "x (usuari no vàlid)" : "");
            t_last_check = Date.now();
        }
    }

    function set_check_icon(which){
        let chosen_username = document.getElementById("chosen_username");
        check_icon.innerHTML = chosen_username == "" ? "" : which;
    }

    function load_date(){
        let d = new Date({{current_user.date_joined}} * 1000);
        let la_data = d.getDate() + "/" + d.getMonth() + 1 + "/" + d.getFullYear();
        document.getElementById("register_date").innerHTML = la_data;
    }
</script>
<!-- profile -->
<div class="m-3">
    <h4 class="ml-3 mb-2">Perfil d'usuari</h4>
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-md-auto">
                <img src="{{current_user.profile_pic}}" alt="profile pic" class="img-thumbnail profile-pic border-c">
            </div>
            <div class="col-md-auto py-2">
                <b>{{current_user.username or "[sense nom d'usuari]"}}</b> ({{current_user.name}})
                {% if current_user.is_admin %}
                 <span class="admin-badge ml-2">admin</span>
                {% endif %}
                <br>
                {{current_user.fallback_email}}<br>
                {% set logout_link = '/logout/' + logout_origin if logout_origin else '/logout' %}
                <a href="{{logout_link}}" type="button" class="btn btn-danger py-0 mt-2 text-white">Tancar Sessió</a>
            </div>
        </div>
        <small class="mb-2" style="color: rgba(0,0,0,0.5)">
            <i>
                Registrat a la web des del <span id="register_date"></span>.
            </i>
        </small><br>
        <hr>
        <div class="row">
            <div class="col-md-auto">
                <div class="mb-1">
                    <h5 class="mb-0">{{'Canvia el' if current_user.username else 'Tria un'}} nom d'usuari</h5>
                    <small style="color: rgba(0, 0, 0, 0.5);">Entre 3 i 30 caràcters. Admet lletres, números, punts i barres baixes, però ha de començar per una lletra.</small>
                </div>
                <input id="chosen_username" type="text" oninput="reset_checking(this.value);" style="width: 25rem;"/> <span id="check_icon"></span>
                <div>
                    <button class="btn btn-secondary py-0 mt-2" onclick="submit_new_username();">Aplica els canvis</button>
                </div>
            </div>
        </div>
    </div>
</div>