{# Generates an interactive archive table from the archived quotes #}

<div class="table-wrapper-scroll-y archive-scrollbar" id="archive-table-scroll">
<table class="lil-table table-fix-head">
    <tr class="bb-thick">
        <td class="px-1 archived-header"></td>
        <td class="px-2 text-center archived-header">#</td>
        <td class="px-1 text-center num archived-header">Data</td>
        <td class="text-center table-controls archived-header">ⓘ</td>
        <td class="px-2 archived-header"><b>Autor</b></td>
        <td class="mono px-2 archived-header">Cita|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|</td>
        <td class="num px-2 text-center archived-header">quote_id</td>
    </tr>
    <tr><td class="end-of-table" colspan="7"></td></tr>
    {% for num, quote in archive.items()|sort(attribute="0|int") %}
        {% set quote_id = quote['id'] %}
        {% set watched_info = quote['watched_info']['nom'] if quote['watched_info'] else '' %}
        {% set watch_emoji = quote['watched_info'].get('emoji', '📅') if quote['watched_info'] else '' %}
        <tr class="archived{{ '-other' if loop.index % 2 else '' }}">
            <td class="px-0 text-center {{'watched-info' if watched_info else ''}}" title="{{watched_info}}">{{ watch_emoji }}</td>
            <td class="px-2 text-center">{{ num }}</td>
            <td class="num pl-1 text-center num" style="white-space:nowrap;">{{ quote['archive_id'] }} {{ quote['emojiday'] }}</td>
            <td class="px-1 text-center table-controls">
                <span class="hand" onclick="ajax('stats_{{quote_id}}', 'stats', 'archive-feedback'); show('stats-popup');">📊</span>
            </td>
            <td class="px-2" style="white-space:nowrap;"><b>{{ quote['autor'] }}</b></td>
            <td class="mono px-2">{{ quote['cita'] }}</td>
            <td class="num px-2 text-center">{{ quote_id }}</td>
        </tr>
    {% endfor %}
    <tr><td class="end-of-table" colspan="7"></td></tr>
</table>
</div>