{# Generates an interactive archive table from the archived quotes #}

<table class="lil-table" id="archive-table">
    <tr class="bb-thick archived-header">
        <td class="px-2 text-center id"><b>#</b></td>
        <td class="num px-2 text-center">quote_id</td>
        <td class="px-2"><b>Autor</b></td>
        <td class="mono px-2">Cita|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|....|</td>
        <td class="px-2 text-center id"><b>Data</b></td>
        <td></td>
    </tr>
    {% for num, quote in archive|dictsort %}
        {% set quote_id = quote['id'] %}
        <tr class="archived">
            <td class="px-2 text-center id"><b>{{ num }}</b></td>
            <td class="num px-2 text-center">{{ quote_id }}</td>
            <td class="px-2"><b>{{ quote['autor'] }}</b></td>
            <td class="mono px-2">{{ quote['cita'] }}</td>
            <td class="num px-2 text-center id"><b>{{ quote['archive_id'] }}</b></td>
            <td class="px-1 text-center">
                <span class="hand" onclick="ajax('stats_{{quote_id}}', 'stats', 'archive-feedback'); show('stats-popup');">📊</span>
            </td>
        </tr>
    {% endfor %}
</table>