{# calendari per l'arxiu de diacríptics #}

{% set month_names = ["Gener", "Febrer", "Març", "Abril", "Maig", "Juny", "Juliol", "Agost", "Setembre", "Octubre", "Novembre", "Desembre"] %}

<div class="container-fluid">
    <div class="row">
        {% for month in calendar %}
            {% set monthdate = month['year']|string + "-" + '%02d' % month['month'] %}
        <div class="col-md-auto px-0">
            <div id="calmonth-{{monthdate}}" class="cal-month-title text-center">{{ month["year"] }} - <b>{{ month_names[month["month"]-1] }}</b></div>
            <table class="month mr-1 mb-1">
                {% for week in range(5) %}
                <tr>
                    {% for day in range(7) %}
                        {% set day = week*7 + day - month["range"][0] + 1 %}
                        <td class="p-0">
                            {% if 0 < day <= month["range"][1] %}
                                {# /////////////// real days on the calendar ////////////// #}
                                {% set date = month['year']|string + "-" + '%02d' % month['month'] + "-" + '%02d' % day %}

                                {% set num_of_diacs = arxiu.get(date, [])|length %}
                                {% set num_class = 'num-1' if num_of_diacs == 1 else 'num-many' if num_of_diacs > 1 else '' %}

                                {% if num_of_diacs %}
                                    {% set clue_here = pool[arxiu[date][0]["clue_id"]] %}
                                    {% set opus_nums = clue_here.arxiu.values()|join(",") %}
                                    {% set extended_title = '' if not num_of_diacs else " : " + clue_here.clue + " (" + clue_here.word + ")" %}
                                {% endif %}

                                <div id="calday-{{date}}" class="cal-day text-center {{num_class}}"
                                     data-numofdiacs="{{num_of_diacs}}" data-hover="#{{opus_nums}} · {{date}}{{extended_title}}"
                                     title="{{date if not num_of_diacs else ''}}">
                                    {{day}}
                                </div>

                            {% else %}
                            <div class="text-center">•</div>
                            {% endif %}
                        </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}
    </div>
</div>
