
<div>
    <table id="pool">
        <tr>
            <th class="px-1 diac-admin-date">Arxiu</th>
            <th class="px-1 diac-admin-tags">Tags</th>
            <th class="px-1">Op.</th>
            <th class="px-1">Word</th>
            <th class="px-1">Clue</th>
            <th class="px-1">Solution</th>
            <th class="px-1">ID</th>
        </tr>
        {% for clue_id, cclue in pool.items()|reverse %}
        <tr id="row-{{cclue.clue_id}}">
            <td id="arxiu-cell-{{clue_id}}" class="px-1 pointer arxiu-cell" onclick="load_date_selection_popup({{clue_id}});" data-dates="{{cclue.arxiu.keys()|list}}">
                {{ cclue.arxiu.keys()|join(" ") }}
            </td>
            <td class="px-1">
                {% for tag, tag_data in available_tags.items() %}
                    {% set icon = tag_data["icon"] %}
                    <span id="ctrl-{{clue_id}}-{{tag}}" onclick="toggle_tag('{{clue_id}}', '{{tag}}');" class="pointer {{'icon-trans' if tag not in tags[clue_id] else ''}}">{{icon}}</span>
                {% endfor %}
            </td>
            <td id="num-cell-{{clue_id}}" class="px-1 pointer" data-nums="{{cclue.arxiu}}"  onclick="load_date_selection_popup({{clue_id}});">
                {% for num in cclue.arxiu.values() %}
                    {{ num }}
                {% endfor %}
            </td>
            <td id="word-cell-{{clue_id}}" class="px-1">{{cclue.word}}</td>
            <td id="clue-cell-{{clue_id}}" class="px-1" data-text="{{cclue.clue}} ({{cclue.n|join(',')}})" data-blocks='{{cclue.clue_analysis}}'>{{cclue.clue}}</td>
            <td class="px-1" data-text="{{cclue.solution}}" data-blocks='{{cclue.solution_analysis}}'>{{cclue.solution}}</td>
            <td class="px-1 mono text-right">{{clue_id}}</td>
        </tr>
        {% endfor %}
    </table>
</div>