
<div>
    <table>
        <tr>
            <th class="px-1">ID</th>
            <th class="px-1">Ctrls</th>
            <th class="px-1">Word</th>
            <th class="px-1">Clue</th>
            <th class="px-1">Solution</th>
        </tr>
        {% for cclue in queue %}
        <tr>
            <td class="px-1 mono text-right">{{cclue.clue_id}}</td>
            <td class="px-1"></td>
            <td class="px-1">{{cclue.word}}</td>
            <td class="px-1" data-text="{{cclue.clue}}" data-blocks='{{cclue.clue_analysis}}'>{{cclue.clue}}</td>
            <td class="px-1" data-text="{{cclue.solution}}" data-blocks='{{cclue.solution_analysis}}'>{{cclue.solution}}</td>
        </tr>
        {% endfor %}
    </table>
</div>