{% extends "base.html" %}
{% block title %}Monstres Biblioteques - David Ruscalleda{% endblock %}
{% block content %}
<h3 class="mt-3 text-center">Disseño de Monstruos</h3>
<p class="text-center">Para el escape room "El Misteri del Col·lecionista de Contes" de jugarXjugar para la Diputació de Girona.</p>
<div class="container">
    <div class="row">
      <div class="col-sm mt-3"><img src="/static/img/rata.jpg" class="img-fluid img-thumbnail" alt="Rata"></div>
      <div class="col-sm mt-3"><img src="/static/img/orc.jpg" class="img-fluid img-thumbnail" alt="Orc"></div>
      <div class="col-sm mt-3"><img src="/static/img/electo.jpg" class="img-fluid img-thumbnail" alt="Ovella"></div>
    </div>
    <div class="row">
      <div class="col-sm mt-3"><img src="/static/img/fada.jpg" class="img-fluid img-thumbnail" alt="Fada"></div>
      <div class="col-sm mt-3"><img src="/static/img/estrigoi.jpg" class="img-fluid img-thumbnail" alt="Estrigoi"></div>
      <div class="col-sm mt-3"><img src="/static/img/puca.jpg" class="img-fluid img-thumbnail" alt="Puça"></div>
    </div>
    <div class="row">
      <div class="col-sm mt-3 mb-4"><img src="/static/img/draugar.jpg" class="img-fluid img-thumbnail" alt="Draugar"></div>
      <div class="col-sm mt-3 mb-4"><img src="/static/img/duplo.jpg" class="img-fluid img-thumbnail" alt="Duplo"></div>
      <div class="col-sm mt-3 mb-4"><img src="/static/img/trol.jpg" class="img-fluid img-thumbnail" alt="Trol"></div>
    </div>
</div>
{% endblock %}