<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catagrames: Admin</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/catagrames.css">

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/static/icons/catagrama_admin_favicon.png">
</head>
<body class="mx-3">
<div class="header">
    <h1 class="text-center pt-3 mb-0"><b>CATAGRAMA</b></h1>
    <h5 class="text-center mt-0 pb-3">plana d'administrador</h5>
</div>
<hr>
Admin key: <input type="password" class="ml-2" id="admin_key">
<hr>
<div class="py-0">

    <!-- invisible, flying (STATS) div -->
    <div class="card invisipopup d-none" id="stats-popup">
        <h5 class="card-header py-0 px-2" onclick="hide('stats-popup');">
            <span class="float-left py-1">Quote stats</span>
            <big class="float-right">×</big>
        </h5>
        <div class="card-body py-2 px-3 overflow-auto">
                <span id="stats">STATS</span>
        </div>
    </div>

    <!-- ARCHIVED -->
    <div class="mt-2">
        <b class="ml-1">Arxiu</b> <span id="archive-feedback"></span>
    </div>

    {% include '/catagrama/archive_table.html' %}

    <!-- QUEUE -->
    <div class="mt-2">
        <b class="ml-1">En cua</b>  <span id="queue-feedback"></span>
    </div>

    {% include '/catagrama/queue_table.html' %}

    <!-- POOL -->
    <div class="mt-2">
        <b class="ml-1">Pendents</b>  <span id="pool-feedback"></span>
    </div>

    {% include '/catagrama/pool_table.html' %}

</div>
<script>
    function ajax(url='', place_id='ajax', feedback_id='ajax_feedback', and_refresh=[]){
        let req = new XMLHttpRequest();
        let result = document.getElementById(place_id);
        let feedback = document.getElementById(feedback_id);
        let admin_key = document.getElementById("admin_key").value;


        req.onreadystatechange = function(){
            if(this.readyState == 4 && this.status == 200) {
                result.innerHTML = this.responseText;
                feedback.innerHTML = "";
            }else{
                feedback.innerHTML = "...";
            }
        }

        console.log('/catagrama/ajax/' + url + "?p=" + admin_key);
        req.open('GET', '/catagrama/ajax/' + url + "?p=" + admin_key, true);
        req.send();

        // recursive bulk refresh of (asked for) affected tables
        for(let table of and_refresh){
            refresh(table);
        }
    }

    function refresh(table) {
        ajax(table, table + '-table', table + '-feedback');
    }

    function hide(object_id){
       document.getElementById(object_id).classList.add("d-none");
    }
    function show(object_id){
       document.getElementById(object_id).classList.remove("d-none");
    }
</script>
</body>
</html>