<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Catagrames: Admin</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/styles/catagrames.css">

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="/static/icons/catagrama_admin_favicon.png">
</head>
<body class="mx-3">
<div class="header">
    <h1 class="text-center pt-3 mb-0"><b>CATAGRAMA</b></h1>
    <h5 class="text-center mt-0 pb-3">plana d'administrador</h5>
</div>
<hr>
Admin key: <input type="password" class="ml-2" id="admin_key">
&nbsp;&nbsp; <span class="hand" onclick="refreshes();"><big>🔄</big></span>
<hr>
<div class="py-0">

    <!-- invisible, flying (STATS) div -->
    <div class="card invisipopup d-none" id="stats-popup">
        <h5 class="card-header py-0 px-2" onclick="hide('stats-popup');">
            <span class="float-left py-1">Quote stats</span>
            <big class="float-right">×</big>
        </h5>
        <div class="card-body py-2 px-3 overflow-auto">
                <span id="stats">STATS</span>
        </div>
    </div>

    <!-- ARCHIVED -->
    <div class="mt-2">
        <b class="ml-1">Arxiu</b> <span id="archive-feedback"></span>
    </div>

    <div id="archive-table">
        {% include '/catagrama/archive_table.html' %}
    </div>

    <!-- QUEUE -->
    <div class="mt-2">
        <b class="ml-1">En cua</b>  <span id="queue-feedback"></span>
    </div>

    <div id="queue-table">
        {% include '/catagrama/queue_table.html' %}
    </div>

    <!-- POOL -->
    <div class="mt-2">
        <b class="ml-1">Pendents</b>  <span id="pool-feedback"></span>
    </div>

    <div id="pool-table">
        {% include '/catagrama/pool_table.html' %}
    </div>

</div>
<script>
    function ajax(url='', place_id='ajax', feedback_id='ajax_feedback', and_refresh=[]){
        let req = new XMLHttpRequest();
        let result = document.getElementById(place_id);
        let scroll_element = document.getElementById(place_id + "-scroll");
        let feedback = document.getElementById(feedback_id);
        let admin_key = document.getElementById("admin_key").value;

        try{
            let scroll = scroll_element.scrollTop;
            //console.log('pre-scroll (' + place_id + ')' + scroll);
        }catch{let scroll = 0}

        req.onreadystatechange = function(){
            if(this.readyState == 4 && this.status == 200) {
                result.innerHTML = this.responseText;
                try{
                    //console.log('post-scroll (' + place_id + ')' + scroll);
                    scroll_element = document.getElementById(place_id + "-scroll"); //requery, cause replaced
                    scroll_element.scrollTop = scroll;
                }catch{};
                feedback.innerHTML = "";

                // recursive bulk refresh of (asked for) affected tables
                // needs to be on this.ready bc parallel ajax refresh will race condition fail
                for(let table of and_refresh){
                    refresh(table);
                }
            }else{
                feedback.innerHTML = "...";
            }
        }

        //console.log('/catagrama/ajax/' + url + "?p=" + admin_key);
        req.open('GET', '/catagrama/ajax/' + url + "?p=" + admin_key, true);
        req.send();
    }

    function refresh(table) {
        ajax(table, table + '-table', table + '-feedback');
    }

    function refreshes(tables="all"){
        if(tables=="all"){
            tables = ["archive", "queue", "pool"];
        }
        for(let table of tables){
            refresh(table);
        }
    }

    function choose_position(quote_id, index){
        if(index == undefined){
            index = prompt("Nova posició?");
        }
        if(index != undefined){
            ajax('queue_' + quote_id + '_insert' + index, 'queue-table', 'queue-feedback');
        }
    }

    function choose_position_pool(quote_id, index){
        if(index == undefined){
            index = prompt("Nova posició?");
        }
        if(index != undefined){
            ajax('queue_' + quote_id + '_insert' + index, 'queue-table', 'queue-feedback', ['pool']);
        }
    }

    function hide(object_id){
       document.getElementById(object_id).classList.add("d-none");
    }
    function show(object_id){
       document.getElementById(object_id).classList.remove("d-none");
    }

    /*
    let elem = document.getElementById("queue-table-scroll");
    elem.addEventListener("scroll", (event) => {
        console.log(elem.scrollTop);
    });
    */

    var archi = document.getElementById("archive-table-scroll");
    archi.scrollTop = archi.scrollHeight;
</script>
</body>
</html>