<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {% set quants = 15 %}
    <title>Cavalls</title>
  </head>
  <body class="mx-3 my-3">
    <h1 class="text-center">Abril dolittle 2:</h1>
    <h5 class="text-center">Els cavalls de Girona van al psicòleg.</h5>
    <hr>
    <div class="container">
      <div class="row">
        <div class="col-auto" style="width: 40%">
          <div class="card px-2 py-2">
            <div class="card border-secondary">
              <img class="card-img-top" id="zoom" src="/static/img/cavalls_abril/c{{cavalls[0]}}.jpg" alt="Photo Zoom" />
              <div class="card-body">
                Cavall # <span id="zoom_text">0</span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-auto" style="width: 60%">
          <div class="card px-2 py-2">
            <div class="container">
              <div class="row mb-2">
              {% for x in range(quants) %}
                <div class="col">
                  <div class="card border-secondary" onclick="zoom_de({{x}})">
                    <img id="c{{cavalls[x]}}" src="/static/img/cavalls_abril/c{{cavalls[x]}}.jpg" alt="cavall #{{x}}" class="card-img-top">
                    <div class="card-body px-1 py-0">
                      # {{x}}
                      <span id="{{cavalls[x]}}_peu_grup" class="float-right text-secondary">-</span>
                    </div>
                  </div>
                </div>
                {% if x % 5 == 4 %}
                  </div><div class="row mb-2">
                {% endif %}
              {% endfor %}
              </div>
            </div>
            <div class="alert alert-info mb-0">*Fes clic als cavalls per veure'ls en gros a l'esquerra.</div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div class="card py-2 px-2" style="background-color: #f5f5dd;">
      Fes servir els grups següents per agrupar els cavalls que consideris que expressen la mateixa emoció,
      i digues al requadre de la dreta quina emoció creus que expressen.<br>
      <b>(Hi ha grups de sobres, no cal que els facis servir tots)</b></div>
    <hr>

    <!-- les coses necessiten NAME per aparèixer al POST -->
    <form action="#" target="_blank" method="post" id="formulari">
      <div class="card py-1 px-2 mb-2" style="background-color: #ccddee;">
        <div class="form-check form-check-inline form-inline">
          <label class="form-check-label mr-3">Interactues habitualment amb cavalls?</label>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="experiencia" id="exp1" value="Sí" required>
            <label class="form-check-label" for="exp1">Sí</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="experiencia" id="exp2" value="No" required>
            <label class="form-check-label" for="exp2">No</label>
          </div>
        </div>
      </div>
      {% for anim in anims %}
      <div class="card py-1 px-2 mb-2" style="background-color: #eeeeee;">
        <div class="form-check form-check-inline form-inline">
          <label class="form-check-label mr-3" ><b class="mr-3">Grup {{anim[5:]}}:</b> Les fotos amb número </label>
          {% for c in range(0, quants) %}
          <input name="{{anim}}{{cavalls[c]}}" class="form-check-input grup{{anim[5:]}} check{{c}}" type="checkbox" id="{{anim}}{{cavalls[c]}}" value="{{anim}}{{cavalls[c]}}"
                 onchange="check_required();update_group({{cavalls[c]}});">
          <label class="form-check-label mr-3" for="{{anim}}{{cavalls[c]}}">{{c}}</label>
          {% endfor %}
          <label class="form-check-label ml-2 mr-3"> mostren cavalls </label>
          <input name="{{anim}}_nom" type="text" class="form-control form-control-sm mr-sm-1 anim" id="{{anim}}_nom" placeholder="<tria una emoció>">
          <label class="form-check-label ml-2 mr-3">.</label>
          <div class="invalid-feedback">
            Escolti que l'he saludat.
          </div>
        </div>
      </div>
      {% endfor %}
      <!-- Prevent implicit submission of the form (https://stackoverflow.com/a/51507806/5093220) -->
      <button type="submit" disabled style="display: none"></button>
      <!-- Real submit button -->
      <button type="submit" class="btn btn-primary mb-2 mt-3" onclick="corregeix();">Confirmar</button>
    </form>



    <!-- Optional JavaScript -->
    <script>
    cavalls = {{cavalls}};
    anims = {{anims|tojson}};

    function zoom_de(num) {
      zoom = document.getElementById("zoom");
      zoom.src = "/static/img/cavalls_abril/c" + cavalls[num] + ".jpg";
      zoom_text = document.getElementById("zoom_text");
      zoom_text.innerHTML = num;
    }

    ref = {{ref}}
    function corregeix() {
      i = 0;
      for(let a of anims){
        console.log("Cavalls " + a + ":");
        ci = 0;
        for(let c of cavalls){
          if(ref[c] == i){
            console.log("  " + ci);
          }
          ci++;
        }
        i++;
      }
    }

    function check_required(){
      for(let anim of {{anims|tojson}}){
        anim_nom = document.getElementById(anim + "_nom");
        anim_nom.required = false;
        for(let checkbox of document.querySelectorAll('.grup' + anim.slice(5))){
          if(checkbox.checked){
            anim_nom.required = true;
            break;
          }
        }
      }
    }

    function update_group(num){
      let grup = "";
      for(let anim of {{anims|tojson}}){
        checkbox = document.getElementById(anim + num);
        if(checkbox.checked){
          grup += anim.slice(5);
        }
      }
      if(grup==""){
        grup = "-";
      }
      if(grup.length>1){
        grup += " ⚠️";
      }
      document.getElementById(num + "_peu_grup").innerHTML = grup;
    }

    /* FORM VALIDATION BOOTSTRAP
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function () {
      'use strict'

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      var forms = document.querySelectorAll('.needs-validation')

      // Loop over them and prevent submission
      Array.prototype.slice.call(forms)
        .forEach(function (form) {
          form.addEventListener('submit', function (event) {
            if (!form.checkValidity()) {
              event.preventDefault()
              event.stopPropagation()
            }

            form.classList.add('was-validated')
          }, false)
        })
    })() */

    </script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
