{% extends "base.html" %}
{% block title %}{{ _('Docentes') }} - David Ruscalleda{% endblock %}
{% block navdocentes %}active{% endblock %}

{% block content %}
<div class="ml-2 mr-2">
<h3 class="mt-3 text-center">{{ _('Recursos Docentes') }}</h3>
<p class="text-center">{{ _('Formularios y fichas que he ido haciendo, de distintos temas y materias.') }}</p>

    <div class="card border-c mt-2 mb-2">
        <div class="card-body">
            <h5>{{ _('Índice') }}</h5>
            <ul>
                <li><a href="#BAT">{{ _('Bachillerato') }}</a></li>
                <ul>
                    <li><a href="#matesC">{{ _('Mates científicas') }}</a></li>
                    <li><a href="#matesS">{{ _('Mates sociales') }}</a></li>
                    <li><a href="#fis">Física</a></li>
                    <li><a href="#quim">Química</a></li>
                </ul>
                <li><a href="#CFGS">{{ _('Prueba de acceso') }} CFGS</a></li>
                <ul>
                    <li><a href="#dtCFGS">{{ _('Dibujo Técnico') }}</a></li>
                    <li><a href="#tecnoCFGS">{{ _('Tecnología') }}</a></li>
                </ul>
                <li><a href="#CFGM">{{ _('Prueba de acceso') }} CFGM</a></li>
                <ul>
                    <li><a href="#tecnoCFGM">{{ _('Tecnología') }}</a></li>
                </ul>
                <li><a href="#musGP">{{ _('Grado Profesional de Música') }}</a></li>
                <ul>
                    <li><a href="#harmonia">{{ _('Armonía') }}</a></li>
                </ul>
                <li><a href="#ESO">{{ _('Educación Secundaria (ESO)') }}</a></li>
                <ul>
                    <li><a href="#matesESO">Mates</a></li>
                    <li><a href="#natusESO">{{ _('Física y Química') }}</a></li>
                    <li><a href="#tecnoESO">{{ _('Tecnología') }}</a></li>
                    <li><a href="#socialsESO">{{ _('Sociales') }}</a></li>
                    <li><a href="#angESO">{{ _('Inglés') }}</a></li>
                </ul>
                <li><a href="#EP">{{ _('Educación Primaria (EP)') }}</a></li>
                <ul>
                    <li><a href="#matesEP">Mates</a></li>
                </ul>
            </ul>
        </div>
    </div>

    <div class="card border-c bg-light mb-2"><b id="BAT"></b>
        <h5 class="card-header">{{ _('Bachillerato') }}</h5>

        <div class="card border-c ml-2 mr-2 mt-2 mb-2"><b id="matesC"></b>
            <div class="card-body">
                <h5 class="card-title">{{ _('Mates Científicas') }}</h5>
                <b>{{ _('Formularios:') }}</b>
                <ul>
                    <li><a href="/static/pdf/M1_Lim.pdf" target="_blank">M1 - {{ _('Límites') }} [CA]</a></li>
                    <li><a href="/static/pdf/M2_Funcions.pdf" target="_blank">M2 - {{ _('Representación de funciones') }} [CA]</a></li>
                    <ul>
                        <li><a href="/static/pdf/M2_VennDerivades.pdf">M2 - {{ _('Relación entre gráficas y derivadas') }} [CA]</a></li>
                    </ul>
                    <li><a href="/static/pdf/M2_Geo3D.pdf" target="_blank">M2 - {{ _('Geometría 3D') }} [CA]</a></li>
                </ul>
                <b>{{ _('Fichas:') }}</b>
                <ul>
                    <li><a href="http://ruscalatex.eu.pythonanywhere.com/powsqr/" target="_blank">M1 - {{ _('Potencias y raíces') }} (Dynamic Deures)</a></li>
                    <li><a href="http://ruscalatex.eu.pythonanywhere.com/equacions/" target="_blank">M2 - {{ _('Sistemas 3D') }} (Dynamic Deures)</a></li>
                    <li><a href="http://ruscalatex.eu.pythonanywhere.com/derivades/" target="_blank">M2 - {{ _('Derivadas') }} (Dynamic Deures)</a></li>
                </ul>
                <b>{{ _('Temario:') }}</b>
                <ul>
                    <li><a href="/static/pdf/MPAU_Temari.pdf" target="_blank">M - {{ _('Temario optimizado') }} PAU [CA]</a></li>
                </ul>
            </div>
        </div>

        <div class="card border-c ml-2 mr-2 mt-2 mb-2"><b id="matesS"></b>
            <div class="card-body">
                <h5 class="card-title">{{ _('Mates Sociales') }}</h5>
                <b>{{ _('Formularios:') }}</b>
                <ul>
                    <li><a href="/static/pdf/M1_Lim.pdf" target="_blank">MS1 - {{ _('Límites') }} [CA]</a></li>
                    <li><a href="/static/pdf/MS1_Financera.pdf" target="_blank">MS1 - {{ _('Matemática Financiera') }} [CA]</a></li>
                    <ul>
                        <li><a href="/static/pdf/MS1_Financera_memo.pdf" target="_blank">MS1 - {{ _('Mnemotecnia Financiera') }} [CA]</a></li>
                    </ul>
                    <li><a href="/static/pdf/M2_VennDerivades.pdf">MS2 - {{ _('Relación entre gráficas y derivadas') }} [CA]</a></li>
                </ul>
                <b>{{ _('Fichas:') }}</b>
                <ul>
                    <li><a href="http://ruscalatex.eu.pythonanywhere.com/powsqr/" target="_blank">MS1 - {{ _('Potencias y raíces') }} (Dynamic Deures)</a></li>
                    <li><a href="http://ruscalatex.eu.pythonanywhere.com/equacions/" target="_blank">MS2 - {{ _('Sistemas 3D') }} (Dynamic Deures)</a></li>
                    <li><a href="http://ruscalatex.eu.pythonanywhere.com/derivades/" target="_blank">MS2 - {{ _('Derivadas') }} (Dynamic Deures)</a></li>
                </ul>
                <b>{{ _('Temario:') }}</b>
                <ul>
                    <li><a href="/static/pdf/MSPAU_Temari.pdf" target="_blank">MS - {{ _('Temario optimizado') }} PAU [CA]</a></li>
                </ul>
            </div>
        </div>

        <div class="card border-c ml-2 mr-2 mt-2 mb-2"><b id="fis"></b>
            <div class="card-body">
                <h5 class="card-title">Física</h5>
                <b>{{ _('Formularios:') }}</b>
                <ul>
                    <li><a href="/static/pdf/F1_Moviments.pdf" target="_blank">F1 - {{ _('Movimientos') }} [CA]</a></li>
                    <ul>
                        <li><a href="/static/img/F1_MRUA.png" target="_blank">{{ _('Gráficos de MRUA') }}</a></li>
                    </ul>
                    <li><a href="/static/pdf/F1_Forces.pdf" target="_blank">F1 - {{ _('Fuerzas') }} [CA]</a></li>
                    <li><a href="/static/pdf/F2_CampsGE.pdf" target="_blank">F2 - {{ _('Campo Gravitatorio y Eléctrico') }} [CA]</a></li>
                    <li><a href="/static/pdf/F2_Nuclear.pdf" target="_blank">F2 - Física Nuclear [CA]</a></li>
                    <li><a href="/static/pdf/F2_Ones.pdf" target="_blank">F2 - {{ _('Ondas') }} [CA]</a> (WIP...)</li>
                </ul>
            </div>
        </div>

        <div class="card border-c ml-2 mr-2 mt-2 mb-2"><b id="quim"></b>
            <div class="card-body">
                <h5 class="card-title">Química</h5>
                <b>{{ _('Formularios:') }}</b>
                <ul>
                    <li><a href="/static/pdf/Q2_Termoq.pdf" target="_blank">Q2 - {{ _('Termoquímica') }} [CA]</a></li>
                </ul>
                <b>{{ _('Temario:') }}</b>
                <ul>
                    <li><a href="/static/pdf/QPAU_Temari.pdf" target="_blank">Q - {{ _('Temario optimizado') }} PAU [CA]</a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="card border-c bg-light mb-2"><b id="CFGS"></b>
        <h5 class="card-header">{{ _('Prueba de Acceso') }} CFGS</h5>

        <div class="card border-c ml-2 mr-2 mt-2 mb-2"><b id="dtCFGS"></b>
            <div class="card-body">
                <h5 class="card-title">{{ _('Dibujo Técnico') }}</h5>
                <b>{{ _('Temario:') }}</b>
                <ul>
                    <li><a href="/static/pdf/DTGS_Temari.pdf" target="_blank">DT - {{ _('Temario optimizado') }} [CA]</a></li>
                </ul>
            </div>
        </div>
        <div class="card border-c ml-2 mr-2 mt-2 mb-2"><b id="tecnoCFGS"></b>
            <div class="card-body">
                <h5 class="card-title">{{ _('Tecnología') }}</h5>
                <b>{{ _('Temario:') }}</b>
                <ul>
                    <li><a href="/static/pdf/TGS_Temari.pdf" target="_blank">T - {{ _('Temario optimizado') }} [CA]</a></li>
                </ul>
            </div>
        </div>
    </div>


    <div class="card border-c bg-light mb-2"><b id="CFGM"></b>
        <h5 class="card-header">{{ _('Prueba de Acceso') }} CFGM</h5>

        <div class="card border-c ml-2 mr-2 mt-2 mb-2"><b id="tecnoCFGM"></b>
            <div class="card-body">
                <h5 class="card-title">{{ _('Tecnología') }}</h5>
                <b>{{ _('Fichas:') }}</b>
                <ul>
                    <li><a href="/static/pdf/T_Circuits.pdf" target="_blank">T - {{ _('Circuitos Eléctricos') }} [CA]</a></li>
                    <li><a href="/static/pdf/T_ElectroDigital.pdf" target="_blank">T - {{ _('Electrónica Digital') }} [CA]</a></li>
                    <li><a href="/static/pdf/T_Energies.pdf" target="_blank">T - {{ _('Energías') }} [CA]</a></li>
                    <li><a href="/static/pdf/T_Pneum.pdf" target="_blank">T - {{ _('Pneumática') }} [CA]</a></li>
                    <li><a href="/static/pdf/T_Telecos.pdf" target="_blank">T - {{ _('Telecomunicaciones') }} [CA]</a></li>
                    <li><a href="/static/pdf/T_Comb.pdf" target="_blank">T - {{ _('Máquinas de Combustión') }} [CA]</a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="card border-c bg-light mb-2"><b id="musGP"></b>
        <h5 class="card-header">{{ _('Grado Profesional de Música') }}</h5>

        <div class="card border-c ml-2 mr-2 mt-2 mb-2"><b id="harmonia"></b>
            <div class="card-body">
                <h5 class="card-title">{{ _('Armonía') }}</h5>
                <b>{{ _('Apuntes:') }}</b>
                <ul>
                    <li><a href="/static/pdf/MusGP_Intervals.pdf" target="_blank">T - {{ _('Canciones para los intervalos') }}</a></li>
                </ul>
                <b>App:</b>
                <ul>
                    <li><a href="https://play.google.com/store/apps/details?id=com.rusca8.hEditor.android">{{ _('Editor de Esquemas Armónicos') }} [CA]</a></li>
                </ul>
            </div>
        </div>

    </div>

    <div class="card border-c bg-light mb-2"><b id="ESO"></b>
        <h5 class="card-header">ESO</h5>

        <div class="card border-c ml-2 mr-2 mt-2 mb-2"><b id="matesESO"></b>
            <div class="card-body">
                <h5 class="card-title">Mates</h5>
                <b>{{ _('Fichas:') }}</b>
                <ul>
                    <li><a href="http://ruscalatex.eu.pythonanywhere.com/enters/" target="_blank">M - {{ _('Operaciones con Enteros') }} (Dynamic Deures)</a></li>
                    <li><a href="http://ruscalatex.eu.pythonanywhere.com/fraccions/" target="_blank">M - {{ _('Fracciones') }} (Dynamic Deures)</a></li>
                    <li><a href="http://ruscalatex.eu.pythonanywhere.com/powsqr/" target="_blank">M - {{ _('Potencias y raíces') }} (Dynamic Deures)</a></li>
                    <li><a href="http://ruscalatex.eu.pythonanywhere.com/equacions/" target="_blank">M - {{ _('Ecuaciones') }} (Dynamic Deures)</a></li>
                    <li><a href="http://ruscalatex.eu.pythonanywhere.com/proporcionalitat/" target="_blank">M - {{ _('Proporcionalidad') }} (Dynamic Deures)</a></li>
                </ul>
            </div>
        </div>

        <div class="card border-c ml-2 mr-2 mt-2 mb-2"><b id="natusESO"></b>
            <div class="card-body">
                <h5 class="card-title">{{ _('Física y Química') }}</h5>
                <b>Labs:</b>
                <ul>
                    <li><a href="/labs/pmg">FQE - {{ _('Masa y peso') }} [CA]</a></li>
                </ul>
            </div>
        </div>

        <div class="card border-c ml-2 mr-2 mt-2 mb-2"><b id="tecnoESO"></b>
            <div class="card-body">
                <h5 class="card-title">Tecno</h5>
                <b>{{ _('Formularios:') }}</b>
                <ul>
                    <li><a href="/static/pdf/T2E_Rendiment.pdf" target="_blank">T2E - {{ _('Rendimiento') }} [CA]</a></li>
                </ul>
                <b>{{ _('Fichas:') }}</b>
                <ul>
                    <li><a href="/static/pdf/T3E_Forces.pdf" target="_blank">T3E - {{ _('Fuerzas') }} [EN]</a></li>
                    <li><a href="/static/pdf/T3E_MSimples_CA.pdf" target="_blank">T3E - {{ _('Máquinas simples') }} (sim. ex.) [CA]</a> <a href="/static/pdf/T3E_MSimples_EN.pdf">[EN]</a></li>
                </ul>
            </div>
        </div>

        <div class="card border-c ml-2 mr-2 mt-2 mb-2"><b id="socialsESO"></b>
            <div class="card-body">
                <h5 class="card-title">{{ _('Sociales') }}</h5>
                <b>{{ _('Mnemotecnia:') }}</b>
                <ul>
                    <li><a href="/static/pdf/Mn_Comarques.pdf" target="_blank">SE - {{ _('Comarcas de Cataluña') }} [CA]</a></li>
                </ul>
            </div>
        </div>

        <div class="card border-c ml-2 mr-2 mt-2 mb-2"><b id="angESO"></b>
            <div class="card-body">
                <h5 class="card-title">{{ _('Inglés') }}</h5>
                <b>{{ _('Online:') }}</b>
                <ul>
                    <li>
                        <a href="/ivtest" target="_blank">EE - Irregular Verbs Test [CA/ES]</a> <span class="text-secondary">- w/ Josep Ruscalleda</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>

    <div class="card border-c bg-light mb-2"><b id="EP"></b>
        <h5 class="card-header">{{ _('Primaria') }}</h5>

        <div class="card border-c ml-2 mr-2 mt-2 mb-2"><b id="matesEP"></b>
            <div class="card-body">
                <h5 class="card-title">Mates</h5>
                <b>{{ _('Fichas:') }}</b>
                <ul>
                    <li><a href="http://ruscalatex.eu.pythonanywhere.com/enters/" target="_blank">M - {{ _('Operaciones sencillas') }} (Dynamic Deures)</a></li>
                    <li><a href="http://ruscalatex.eu.pythonanywhere.com/equacions/" target="_blank">M - {{ _('Ecuaciones sencillas') }} (Dynamic Deures)</a></li>
                    <li><a href="http://ruscalatex.eu.pythonanywhere.com/apilades/" target="_blank">M - {{ _('Operaciones en columna') }} (Dynamic Deures)</a></li>
                </ul>
            </div>
        </div>

    </div>

</div>
{% endblock %}