{% extends "base.html" %}
{% block title %}Web de David Ruscalleda{% endblock %}
{% block headjs %}
    function showKeyPress(evt)
    {
        if(document.getElementById("secretillos").class === undefined || String.fromCharCode(evt.charCode) == 'r'){
            document.getElementById("secretillos").class = String.fromCharCode(evt.charCode);
        }else{
            document.getElementById("secretillos").class += String.fromCharCode(evt.charCode);
        }

        if(document.getElementById("secretillos").class == "raquel"){
            window.location.href = "/raquel/";
        }
    }
{% endblock %}

{% block bodyextra %} onkeypress="showKeyPress(event);" {% endblock %}

{% block content %}
<div class="card border-c mt-2 ml-2 mr-2 mb-2">
  <div class="card-body">
    <h3 class="text-center">Uola estoy creando esto...</h3>
    <p class="text-center">Aquí aprovechando el <b>reto del portfolio</b> para ordenar mi mundo. # 4️⃣0️⃣📡</p>
  </div>
</div>

<div class="card border-c mt-2 ml-2 mr-2 mb-2">
  <div class="card-body pt-1 pb-1 pl-1 pr-1">
      <div class="container">
          <div class="row">
              <div class="col">
                <a href="https://instagram.com/drusca8" target="_blank" class="btn btn-light btn-sm btn-block" role="button">Instagram (drusca8)</a>
              </div>
              <div class="col">
                <a href="https://twitter.com/Rusca8" target="_blank" class="btn btn-light btn-sm btn-block" role="button">Twitter (Rusca8)</a>
              </div>
              <div class="col">
                <a href="https://github.com/Rusca8" target="_blank" class="btn btn-light btn-sm btn-block" role="button">GitHub (Rusca8)</a>
              </div>
              <div class="col">
                <a href="https://www.youtube.com/channel/UCr277GLGrKWrGqZhPGYlcEg" target="_blank" class="btn btn-light btn-sm btn-block" role="button">YouTube (Rusca8)</a>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="card-columns ml-2 mr-2">

  <div class="card border-c">
    <img class="card-img-top" src="/static/img/music.png" alt="Partitura Calamars">
    <div class="card-header text-white bg-c">Música</div><b id="music"></b>
    <div class="card-body">
        <b>YouTube:</b>
        <ul>
            <li>Fugas comentadas: <a href="https://www.youtube.com/watch?v=UstvUnPDcac" target="_blank">nº1 en Sol</a> y <a href="https://www.youtube.com/watch?v=Hw7V3TwLIc4" target="_blank">nº2 en Mi Frigio</a></li>
            <li>Música para un calamar:</li>
            <ul>
                <li>Vídeo de <a href="https://www.youtube.com/watch?v=WRzSkPvHuUc" target="_blank">la pieza con partitura</a>.</li>
                <li>Todos los <a href="https://www.youtube.com/watch?v=BkiJLnk_QzE" target="_blank">secretos compositivos que esconde</a> (subs en ES).</li>
            </ul>
            <li>Tutorial de música leguminosa: <a href="https://www.youtube.com/watch?v=omSSWsRrOc8" target="_blank">cómo tocar un bote de alubias.</a></li>
        </ul>
        <a href="/music/" class="btn btn-light btn-sm btn-block" role="button">Mi música (partituras)</a>
    </div>
  </div>

  <div class="card border-c">
    <img class="card-img-top" src="/static/img/memoria.png" alt="Speed Cards">
    <div class="card-header text-white bg-c">Memoria y productividad</div><b id="memo"></b>
    <div class="card-body">
        <b>YouTube:</b>
        <ul>
            <li>Tutorial de <a href="https://www.youtube.com/watch?v=Y8D1eu21wg8&list=PL9_MhkMfwAzvHjs9tCYsfa70HPvB_lwyo" target="_blank">cómo memorizar una baraja de póquer desordenada</a>.</li>
        </ul>
        <b>Drive:</b>
        <ul>
            <li>Apuntes GTD: <a href="http://bit.ly/GTD_TSW_ES" target="_blank">cómo implementar GTD con Evernote (TSW)</a>.</li>
        </ul>
    </div>
  </div>

  <div class="card border-c">
    <img class="card-img-top" src="/static/img/ilust.png" alt="Troll Implanta-Spoilers">
    <div class="card-header text-white bg-c">Ilustración</div><b id="ilust"></b>
    <div class="card-body">
        <b>Diseño de personajes:</b>
        <ul>
            <li>Monstruos para un escape room de <a href="/bmonstres/">jugarXjugar</a>.</li>
        </ul>
        <b>Camisetas:</b>
        <ul>
            <li>Camiseta para el club de juegos de mesa de <a href="https://scontent.fbcn3-1.fna.fbcdn.net/v/t1.0-9/18698109_10155345661899878_1852181515913302555_n.jpg?_nc_cat=105&_nc_sid=825194&_nc_ohc=64rCgtw78hUAX8u4kZa&_nc_ht=scontent.fbcn3-1.fna&oh=1e7c2247280e6bd39dd9d4978db7af98&oe=5EE5E31B" target="_blank">jugarXjugar</a>.</li>
        </ul>
        <b>Personal:</b>
        <ul>
            <li>Dibujo de una <a href="https://drive.google.com/file/d/0B_G9YTnjYq-xUWZaaHRlaFpjWGxWU0ZXYlpQeFd0b1ZqS1Vr/view?usp=sharing" target="_blank">Lluvia de vacas</a>.</li>
        </ul>
    </div>
  </div>

  <div class="card border-c">
    <img class="card-img-top" src="/static/img/progra.png" alt="Code from Dynamic Deures">
    <div class="card-header text-white bg-c">Programación</div><b id="progra"></b>
    <div class="card-body">
        <b>Web:</b>
        <ul>
            <li>Generador de fichas de mates: <a href="http://bit.ly/DynamicDeures" target="_blank">Dynamic Deures</a>.</li>
            <li>Esta misma web, que también es artesanal :)</li>
        </ul>
        <b>Google Play Store:</b>
        <ul>
            <li>Juego matemático (descomposición): <a href="https://play.google.com/store/apps/details?id=com.rusca8.primes.android" target="_blank">Primes!</a></li>
            <li>Editor de esquemas musicales: <a href="https://play.google.com/store/apps/details?id=com.rusca8.hEditor.android" target="_blank">Hemiolia Editor</a>.</li>
        </ul>
        <a href="https://github.com/Rusca8" class="btn btn-light btn-sm btn-block" role="button">Rusca8 en GitHub</a>
    </div>
  </div>

  <div class="card border-c">
    <img class="card-img-top" src="/static/img/anki1.png" alt="Anki">
    <div class="card-header text-white bg-c">Recursos Anki</div><b id="anki"></b>
    <div class="card-body">
        <b>Youtube:</b>
        <ul>
            <li>Tutorial #1: <a href="https://www.youtube.com/watch?v=g-Sid8QoIQw" target="_blank">La app para estudiar sin esfuerzo</a> (ES).</li>
            <li>Tutorial #2: <a href="https://www.youtube.com/watch?v=Lh96Yt4ns44" target="_blank">Crea tus propias barajas</a> (ES).</li>
        </ul>
        <b>Drive:</b>
        <ul>
            <li>Apuntes de Anki: <a href="http://bit.ly/Ankinstall" target="_blank">cómo instalarlo y usarlo</a> (CA/ES).</li>
            <li>Apuntes de Anki: <a href="https://docs.google.com/presentation/d/11iGOgFa1G1DeZLMIFAhuBE6tah-dHK5npoioEj-C1ws/edit#slide=id.g6e9e5bd212_0_196" target="_blank">hacer tus propias tarjetas</a> (CA/ES).</li>
        </ul>
        <a href="/anki/" class="btn btn-light btn-sm btn-block" role="button">Barajas y Tutoriales</a>
    </div>
  </div>

  <div class="card border-c">
    <img class="card-img-top" src="/static/img/dg.png" alt="Infographic Climate Tracker">
    <div class="card-header text-white bg-c">Diseño gráfico</div><b id="design"></b>
    <div class="card-body">
        <b>Infografía:</b>
        <ul>
            <li>Artículo para <a href="http://climatetracker.org/1-5-degrees-earths-tipping-points/" target="_blank">Climate Tracker</a> (EN).</li>
        </ul>
        <b>Logotipos:</b>
        <ul>
            <li>Propuesta de logotipo para <a href="/static/img/proposta_logo_som.jpeg" target="_blank">Som Energia</a>.</li>
            <li>Nuevo logotipo para el grupo <a href="https://www.instagram.com/p/BGmU536oj0R/" target="_blank">Antaviana</a>.</li>
            <li>Propuestas para TwoSetViolin</li>
            <ul>
                <li><a href="https://drive.google.com/file/d/0B_G9YTnjYq-xUzVwMzgyZkNzdTd2RXZncWVlelhnb2VuX0Z3/view?usp=sharing" target="_blank">TwoSetApparel</a></li>
                <li><a href="https://drive.google.com/file/d/1WHXqaSMhwwR1YfMfuYKQCWr0Z3SPe5nA/view?usp=sharing" target="_blank">Practice Clothing Co</a>.</li>
            </ul>
        </ul>
        <b>Carteles:</b>
        <ul>
            <li>Cartel para la extraescolar de sardanas de <a href="https://drive.google.com/file/d/1bPvLwYE3a82leHWbgQhEVdZJ77Ij-G2a/view?usp=sharing" target="_blank">Antaviana</a>.</li>
        </ul>
      <a href="/logos/" class="btn btn-light btn-sm btn-block" role="button">Logotipos</a>
    </div>
  </div>

  <div class="card border-c">
    <img class="card-img-top" src="/static/img/kapla.png" alt="Elefante Kapla">
    <div class="card-header text-white bg-c">Kapla</div><b id="kapla"></b>
    <div class="card-body">
        <b>Instagram:</b>
        <ul>
            <li>Cosas que he construído: <a href="https://www.instagram.com/mira.quin.kapla/" target="_blank">@mira.quin.kapla</a>.</li>
        </ul>
        <a href="https://www.instagram.com/mira.quin.kapla/" target="_blank" class="btn btn-light btn-sm btn-block" role="button">Instagram de Kapla (@mira.quin.kapla)</a>
    </div>
  </div>

  <div class="card border-c">
    <img class="card-img-top" src="/static/img/docents.png" alt="Docentes">
    <div class="card-header text-white bg-c">Recursos docentes</div><b id="docentes"></b>
    <div class="card-body">
        <b>Fichas y formularios:</b>
        <ul>
            <li>Formulario de movimientos de <a href="/static/pdf/F1_Moviments.pdf" target="_blank">Física 1BAT [CA]</a>.</li>
            <li>Ficha de circuitos eléctricos de <a href="/static/pdf/T_Circuits.pdf" target="_blank">Ciclo Formativo [CA]</a>.</li>
            <li>Generador de fichas de mates: <a href="http://bit.ly/DynamicDeures" target="_blank">Dynamic Deures</a>.</li>
        </ul>
        <a href="/docentes/" class="btn btn-light btn-sm btn-block" role="button">Todas las fichas y formularios</a>
    </div>
  </div>

  <div class="card border-c">
    <img class="card-img-top" src="/static/img/rubik.png" alt="Rubik's blindfolded">
    <div class="card-header text-white bg-c">Rubik's (Speed Cubing)</div><b id="rubik"></b>
    <div class="card-body">
        <b>YouTube:</b>
        <ul>
            <li>Campeón de Francia de Multi <a href="https://www.youtube.com/watch?v=6ZNy4H92AkU" target="_blank">(8/8 en una hora)</a>.</li>
            <li>Memorizo un cubo <a href="https://www.youtube.com/watch?v=6hhuOmDnZwo" target="_blank">en 35 segundos</a>.</li>
            <li>Resuelvo un cubo en <a href="https://www.youtube.com/watch?v=BeIeb0RGsJE" target="_blank">20 segundos con una mano</a>.</li>
            <li>Resolviendo cubos <a href="https://www.youtube.com/watch?v=CgH4YJEb4Xw" target="_blank">bajo el agua</a> sin respirar.</li>
        </ul>
        <b>WCA:</b>
        <ul>
            <li>Mis tiempos oficiales (<a href="https://www.worldcubeassociation.org/persons/2013GOME02">WCA ID: 2013GOME02</a>)</li>
        </ul>
        <a href="https://www.youtube.com/channel/UCMEt8RHMbOGHXCOFhGzaSjg" target="_blank" class="btn btn-light btn-sm btn-block" role="button">El Cubo de Rusca (YouTube)</a>
    </div>
  </div>

  <div class="card border-c">
    <img class="card-img-top" src="/static/img/kendama.png" alt="Kendama sunset">
    <div class="card-header text-white bg-c">Kendama</div><b id="kendama"></b>
    <div class="card-body">
        <b>Estudio de la notación:</b>
        <ul>
            <li>Tricks and modifiers: <a href="/static/pdf/KendamaTrickNotation1.0.pdf" target="_blank">Kendama Trick Notation v1.0 [EN]</a></li>
        </ul>
        <b>Instagram:</b>
        <ul>
            <li>Recopilatorio de trucos: <a href="https://www.instagram.com/rusca.kendama/" target="_blank">@rusca.kendama</a>.</li>
        </ul>
        <b>YouTube:</b>
        <ul>
            <li>Edit con los <a href="https://www.youtube.com/watch?v=fZKgUXzrkWE" target="_blank">trucos de hatsukaichi L1 y L2</a>.</li>
        </ul>
        <a href="https://www.instagram.com/rusca.kendama/" target="_blank" class="btn btn-light btn-sm btn-block" role="button">Instagram de Kendama (@rusca.kendama)</a>
    </div>
  </div>

</div>
{% endblock %}