{% extends "base.html" %}
{% block title %}David Ruscalleda{% endblock %}
{% block content %}

<div class="card mt-2 ml-2 mr-2 mb-2">
  <div class="card-body">
    <h3 class="text-center">Uola estoy creando esto</h3>
    <p class="text-center">Aquí aprovechando el reto del <b>portfolio</b> para ordenar mi mundo. # 4️⃣0️⃣📡</p>
  </div>
</div>

<div class="card-columns ml-2 mr-2">

  <div class="card">
    <img class="card-img-top" src="/static/img/music.png" alt="Card image cap">
    <div class="card-header">Música</div>
    <div class="card-body">
        <b>YouTube:</b>
        <ul>
            <li>Fugas comentadas: <a href="https://www.youtube.com/watch?v=UstvUnPDcac">nº1 en Sol</a> y <a href="https://www.youtube.com/watch?v=Hw7V3TwLIc4">nº2 en Mi Frigio</a></li>
            <li>Música para un calamar:</li>
            <ul>
                <li>Vídeo de <a href="https://www.youtube.com/watch?v=WRzSkPvHuUc">la pieza con partitura</a>.</li>
                <li>Todos los <a href="https://www.youtube.com/watch?v=BkiJLnk_QzE">secretos compositivos que esconde</a> (subs en ES).</li>
            </ul>
            <li>Tutorial de música leguminosa: <a href="https://www.youtube.com/watch?v=omSSWsRrOc8">cómo tocar un bote de alubias.</a></li>
        </ul>
        <a href="/music/" class="btn btn-light btn-sm btn-block" role="button">Mi música (partituras)</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="/static/img/memoria.png" alt="Card image cap">
    <div class="card-header">Memoria y productividad</div>
    <div class="card-body">
        <b>YouTube:</b>
        <ul>
            <li>Tutorial de <a href="https://www.youtube.com/watch?v=Y8D1eu21wg8&list=PL9_MhkMfwAzvHjs9tCYsfa70HPvB_lwyo">cómo memorizar una baraja de póquer desordenada</a>.</li>
        </ul>
        <b>Drive:</b>
        <ul>
            <li>Apuntes de GTD: <a href="http://bit.ly/GTD_TSW_ES">cómo implementar GTD con Evernote (TSW)</a>.</li>
        </ul>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="/static/img/ilust.png" alt="Card image cap">
    <div class="card-header">Ilustración</div>
    <div class="card-body">
        <b>Diseño de personajes:</b>
        <ul>
            <li>Monstruos para un escape room de <a href="/bmonstres/">jugarXjugar</a>.</li>
        </ul>
        <b>Camisetas:</b>
        <ul>
            <li>Camiseta para el club de juegos de mesa de <a href="https://scontent.fbcn3-1.fna.fbcdn.net/v/t1.0-9/18698109_10155345661899878_1852181515913302555_n.jpg?_nc_cat=105&_nc_sid=825194&_nc_ohc=64rCgtw78hUAX8u4kZa&_nc_ht=scontent.fbcn3-1.fna&oh=1e7c2247280e6bd39dd9d4978db7af98&oe=5EE5E31B">jugarXjugar</a>.</li>
        </ul>
        <b>Personal:</b>
        <ul>
            <li>Dibujo de una <a href="https://drive.google.com/file/d/0B_G9YTnjYq-xUWZaaHRlaFpjWGxWU0ZXYlpQeFd0b1ZqS1Vr/view?usp=sharing">Lluvia de vacas</a>.</li>
        </ul>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="/static/img/progra.png" alt="Card image cap">
    <div class="card-header">Programación</div>
    <div class="card-body">
        <b>Web:</b>
        <ul>
            <li>Generador de fichas de mates: <a href="http://bit.ly/DynamicDeures">Dynamic Deures</a>.</li>
            <li>Esta misma web, que también es artesanal :)</li>
        </ul>
        <b>Google Play Store:</b>
        <ul>
            <li>Juego matemático (descomposición): <a href="https://play.google.com/store/apps/details?id=com.rusca8.primes.android">Primes!</a></li>
            <li>Editor de esquemas musicales: <a href="https://play.google.com/store/apps/details?id=com.rusca8.hEditor.android">Hemiolia Editor</a>.</li>
        </ul>
        <a href="https://github.com/Rusca8" class="btn btn-light btn-sm btn-block" role="button">Rusca8 en GitHub</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="/static/img/anki1.png" alt="Card image cap">
    <div class="card-header">Recursos Anki</div>
    <div class="card-body">
        <b>Youtube:</b>
        <ul>
            <li>Tutorial #1: <a href="https://www.youtube.com/watch?v=g-Sid8QoIQw">La app para estudiar sin esfuerzo</a> (ES).</li>
            <li><i>Próximamente... Cómo crear y personalizar tus tarjetas.</i></li>
        </ul>
        <b>Drive:</b>
        <ul>
            <li>Apuntes de Anki: <a href="http://bit.ly/Ankinstall">cómo instalarlo y usarlo</a> (CA).</li>
            <li>Apuntes de Anki: <a href="https://docs.google.com/presentation/d/11iGOgFa1G1DeZLMIFAhuBE6tah-dHK5npoioEj-C1ws/edit#slide=id.g6e9e5bd212_0_196">hacer tus propias tarjetas</a> (CA).</li>
        </ul>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="/static/img/dg.png" alt="Card image cap">
    <div class="card-header">Diseño gráfico</div>
    <div class="card-body">
        <b>Infografía:</b>
        <ul>
            <li>Artículo para <a href="http://climatetracker.org/1-5-degrees-earths-tipping-points/">Climate Tracker</a> (EN).</li>
        </ul>
        <b>Logotipos:</b>
        <ul>
            <li>Propuesta de logotipo para <a href="/static/img/proposta_logo_som.jpeg">Som Energia</a>.</li>
            <li>Nuevo logotipo para el grupo <a href="https://www.instagram.com/p/BGmU536oj0R/">Antaviana</a>.</li>
            <li>Propuestas para TwoSetViolin</li>
            <ul>
                <li><a href="https://drive.google.com/file/d/0B_G9YTnjYq-xUzVwMzgyZkNzdTd2RXZncWVlelhnb2VuX0Z3/view?usp=sharing">TwoSetApparel</a></li>
                <li><a href="https://drive.google.com/file/d/1WHXqaSMhwwR1YfMfuYKQCWr0Z3SPe5nA/view?usp=sharing">Practice Clothing Co</a>.</li>
            </ul>
        </ul>
        <b>Carteles:</b>
        <ul>
            <li>Cartel para la extraescolar de sardanas de <a href="https://drive.google.com/file/d/1bPvLwYE3a82leHWbgQhEVdZJ77Ij-G2a/view?usp=sharing">Antaviana</a>.</li>
        </ul>
      <a href="/logos/" class="btn btn-light btn-sm btn-block" role="button">Logotipos</a>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="/static/img/kapla.png" alt="Card image cap">
    <div class="card-header">Kapla</div>
    <div class="card-body">
        <b>Instagram:</b>
        <ul>
            <li>Cosas que he construído: <a href="https://www.instagram.com/mira.quin.kapla/">@mira.quin.kapla</a>.</li>
        </ul>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="/static/img/rubik.png" alt="Card image cap">
    <div class="card-header">Rubik's (Speed Cubing)</div>
    <div class="card-body">
        <b>YouTube:</b>
        <ul>
            <li>Campeón de Francia de Multi <a href="https://www.youtube.com/watch?v=6ZNy4H92AkU">(8/8 en una hora)</a>.</li>
            <li>Memorizo un cubo <a href="https://www.youtube.com/watch?v=6hhuOmDnZwo">en 35 segundos</a>.</li>
            <li>Resuelvo un cubo en <a href="https://www.youtube.com/watch?v=BeIeb0RGsJE">20 segundos con una mano</a>.</li>
            <li>Resolviendo cubos <a href="https://www.youtube.com/watch?v=CgH4YJEb4Xw">bajo el agua</a> sin respirar.</li>
        </ul>
      </p>
    </div>
  </div>

  <div class="card">
    <img class="card-img-top" src="/static/img/kendama.png" alt="Card image cap">
    <div class="card-header">Kendama</div>
    <div class="card-body">
        <b>Instagram:</b>
        <ul>
            <li>Recopilatorio de trucos: <a href="https://www.instagram.com/rusca.kendama/">@rusca.kendama</a>.</li>
        </ul>
        <b>YouTube:</b>
        <ul>
            <li>Edit con los <a href="https://www.youtube.com/watch?v=fZKgUXzrkWE">trucos de hatsukaichi L1 y L2</a>.</li>
        </ul>
    </div>
  </div>

</div>
{% endblock %}