{% extends "base.html" %}
{% block title %}{{ _('Juegos de Mesa') }} - David Ruscalleda{% endblock %}
{% block navjuegos %}active{% endblock %}
{% block content %}
<h3 class="mt-3 text-center">{{ _('Juegos de Mesa') }} </h3>
<p class="text-center">{{ _('Diseños propios y Recursos para juegos existentes.') }} </p>

<div class="card border-c bg-light mb-2 mx-2"><b id="Diseños"></b>
    <h5 class="card-header">{{ _('Diseños propios') }}</h5>
    <div class="card-columns">

            <div class="card border-c mx-2 my-2"><b id="Impedimentos"></b>
                <img class="card-img-top" src="/static/img/bg/impedimentos.png" alt="Thumbnail Impedimentos">
                <div class="card-body">
                    <h5 class="card-title">Impedimentos</h5>
                        Los jugadores tendrán que moverse a través de un laberinto cambiante para intentar conseguir sus cuatro cubitos antes que los demás.
                    <br><br>
                    <a href="/static/pdf/bg/ss_impedimentos.pdf" class="btn btn-outline-primary btn-sm btn-block" role="button">Hoja de Ventas</a>
                </div>
            </div>

            <div class="card border-c mx-2 my-2"><b id="Matriculados"></b>
                <img class="card-img-top" src="/static/img/bg/matriculados.png" alt="Thumbnail Matriculados">
                <div class="card-body">
                    <h5 class="card-title">Matriculados</h5>
                        Juego de agilidad mental y memoria donde los jugadores tendrán que ser los más rápidos sumando matrículas y recordando dónde están las parecidas.<br>
                        <br>
                        <i>Pensado para trabajar la regla de divisibilidad del 3 y un poco de mnemotecnia en las escuelas.</i>
                    <br><br>
                    <a href="/static/pdf/bg/ss_matriculados.pdf" class="btn btn-outline-primary btn-sm btn-block" role="button">Hoja de Ventas</a>
                </div>
            </div>

        </div>
    </div>
</div>

<div class="card border-c bg-light mb-2 mx-2"><b id="Recursos"></b>
    <h5 class="card-header">{{ _('Recursos para juegos existentes') }}</h5>

    <div class="card border-c ml-2 mr-2 mt-2 mb-2"><b id="DnD5e"></b>
        <div class="card-body">
            <h5 class="card-title">{{ _('Dragones y Mazmorras (5ª Edición)') }}</h5>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <b>{{ _('Listas Resumen de Conjuros') }} (PHB):</b>
                        <ul>
                            <li><a href="/static/pdf/conjuros_Todos.pdf" target="_blank">DnD 5e - {{ _('Todos los Conjuros') }} [ES]</a></li>
                            <li><a href="/static/pdf/conjuros_Artificiero.pdf" target="_blank">DnD 5e - {{ _('Conjuros de Artificiero') }} [ES]</a></li>
                            <li><a href="/static/pdf/conjuros_Bardo.pdf" target="_blank">DnD 5e - {{ _('Conjuros de Bardo') }} [ES]</a></li>
                            <li><a href="/static/pdf/conjuros_Brujo.pdf" target="_blank">DnD 5e - {{ _('Conjuros de Brujo') }} [ES]</a></li>
                            <li><a href="/static/pdf/conjuros_Clerigo.pdf" target="_blank">DnD 5e - {{ _('Conjuros de Clérigo') }} [ES]</a></li>
                            <li><a href="/static/pdf/conjuros_Druida.pdf" target="_blank">DnD 5e - {{ _('Conjuros de Druida') }} [ES]</a></li>
                            <li><a href="/static/pdf/conjuros_Explorador.pdf" target="_blank">DnD 5e - {{ _('Conjuros de Explorador') }} [ES]</a></li>
                            <li><a href="/static/pdf/conjuros_Hechicero.pdf" target="_blank">DnD 5e - {{ _('Conjuros de Hechicero') }} [ES]</a></li>
                            <li><a href="/static/pdf/conjuros_Mago.pdf" target="_blank">DnD 5e - {{ _('Conjuros de Mago') }} [ES]</a></li>
                            <li><a href="/static/pdf/conjuros_Paladin.pdf" target="_blank">DnD 5e - {{ _('Conjuros de Paladin') }} [ES]</a></li>
                        </ul>
                    </div>
                    <div class="col">
                        <b>{{ _('Cartas de Conjuros') }} (PHB):</b>
                        <ul>
                            <li><a href="/static/pdf/cartas_Todas.pdf" target="_blank">DnD 5e - {{ _('Todos los Conjuros') }} [ES]</a></li>
                            <li><a href="/static/pdf/cartas_Artificiero.pdf" target="_blank">DnD 5e - {{ _('Conjuros de Artificiero') }} [ES]</a></li>
                            <li><a href="/static/pdf/cartas_Bardo.pdf" target="_blank">DnD 5e - {{ _('Conjuros de Bardo') }} [ES]</a></li>
                            <li><a href="/static/pdf/cartas_Brujo.pdf" target="_blank">DnD 5e - {{ _('Conjuros de Brujo') }} [ES]</a></li>
                            <li><a href="/static/pdf/cartas_Clerigo.pdf" target="_blank">DnD 5e - {{ _('Conjuros de Clérigo') }} [ES]</a></li>
                            <li><a href="/static/pdf/cartas_Druida.pdf" target="_blank">DnD 5e - {{ _('Conjuros de Druida') }} [ES]</a></li>
                            <li><a href="/static/pdf/cartas_Explorador.pdf" target="_blank">DnD 5e - {{ _('Conjuros de Explorador') }} [ES]</a></li>
                            <li><a href="/static/pdf/cartas_Hechicero.pdf" target="_blank">DnD 5e - {{ _('Conjuros de Hechicero') }} [ES]</a></li>
                            <li><a href="/static/pdf/cartas_Mago.pdf" target="_blank">DnD 5e - {{ _('Conjuros de Mago') }} [ES]</a></li>
                            <li><a href="/static/pdf/cartas_Paladin.pdf" target="_blank">DnD 5e - {{ _('Conjuros de Paladin') }} [ES]</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}