{% extends "base.html" %}
{% block title %}Logotips - Web de David Ruscalleda{% endblock %}
{% block content %}
<h3 class="mt-3 text-center">Disseño de Logotipos</h3>
<p class="text-center">Recopilatorio de logotipos que he ido diseñando.</p>

<div class="card-columns ml-2 mr-2">

  <div class="card mt-2">
    <img class="card-img-top" src="/static/img/l_antaviana.png" alt="Logo Antaviana">
    <div class="card-body">
        Renovación del logotipo de Grup Sardanista Antaviana.
        Ahora en uso en su instagram <a href="https://www.instagram.com/antavianaoficial/">@antavianaoficial</a>.
    </div>
  </div>

  <div class="card mt-2">
    <img class="card-img-top" src="/static/img/l_hemi.png" alt="Logo Hemiolia">
    <div class="card-body">
        Para mi app de edición de esquemas musicales (que a su vez fue mi TFG).
        Usado en la app <a href="https://play.google.com/store/apps/details?id=com.rusca8.hEditor.android">Hemiolia Editor</a>.
    </div>
  </div>

  <div class="card mt-2">
    <img class="card-img-top" src="/static/img/l_sener.png" alt="Logo Som Energia">
    <div class="card-body">
        Propuesta de imagen alternativa a las que se presentaron oficialmente (<a href="/static/img/proposta_logo_som.jpeg">doc completo</a>).
        Junto a otras dos, se tuvo en cuenta para darle una segunda vuelta a las oficiales.
    </div>
  </div>

  <div class="card mt-2">
    <img class="card-img-top" src="/static/img/l_twoset.png" alt="Logo TwoSet Apparel">
    <div class="card-body">
        Para el proceso de selección de una oferta de trabajo de TwoSetViolin.
        Presentado en la primera fase del proceso, con él pasé a la segunda.
    </div>
  </div>

  <div class="card mt-2">
    <img class="card-img-top" src="/static/img/l_practice.png" alt="Logo Practice Clothing Co">
    <div class="card-body">
        Para el proceso de selección de una oferta de trabajo de TwoSetViolin.
        Presentado para la segunda fase.
    </div>
  </div>

</div>
{% endblock %}