{% extends "base.html" %}
{% block title %} {{ _('Pulseras') }} - Web de David Ruscalleda {% endblock %}
{% block navpulseras %}active{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="/static/styles/pulseras.css">
{% endblock %}
{% block content %}
<h3 class="mt-3 text-center">{{ _('Pulseras de abalorios') }}</h3>
<p class="mt-2 text-center">{{ _('Crea tus propios diseños o carga diseños hechos por otros.') }}</p>

{% set nmin = 30 %}
{% set nmax = 200 %}
{% set ndefault = 100 %}
<div class="card mx-2 border-c">
    <h5 class="card-header">{{ _('Editor de pulseras') }}</h5>
    <div class="card-body text-center"><b id="to_input"></b>
        <div class="input-group input-group-sm">
          <input type="text" class="form-control" placeholder="{{ _('Introduce el código de la pulsera que quieras ver') }}" id="text" onkeypress="key_importar(event);">
          <div class="input-group-append">
            <button class="btn btn-block btn-outline-secondary btn-sm px-5" onclick="importar();">Importar</button>
          </div>
        </div>
        <hr>
        <div class="container-fluid mb-2">
            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-2 px-0">
                    <div class="input-group input-group-sm">
                      <input type="number" min="{{nmin}}" max="{{nmax}}" class="form-control" value="{{ndefault}}" id="n" onchange="input_n();">
                      <div class="input-group-append">
                        <span class="input-group-text">{{ _('cuentas') }}</span> <!-- vidrets, granadura -->
                      </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <select id="cuenta" class="custom-select custom-select-sm" onchange="input_cuenta();">
                      <option value="my11" selected>11º Round Rocailles (Miyuki)</option>
                      <option value="th11">11º Round Rocailles (Toho)</option>
                    </select>
                </div>
                <div class="col-sm-2 px-0 text-right">
                    <div class="input-group input-group-sm">
                      <input type="number" min="0" max="200" class="form-control" id="cm" onchange="input_cms();">
                      <div class="input-group-append">
                        <span class="input-group-text">cm</span>
                      </div>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>

        <canvas id="app" tabindex="0" onkeyup="canvas_hotkeys(event);"></canvas>

        <div class="container-fluid mb-2">
            <div class="row">
                <div class="col-sm-5"></div>
                <div class="col-sm-2 px-0">
                    <div class="input-group input-group-sm">
                      <div class="input-group-prepend">
                        <button class="btn btn-sm btn-outline-secondary" type="button" onclick="input_lr(-1);">◄</button>
                      </div>
                      <input type="number" min="-{{ndefault}}" max="{{ndefault}}" class="form-control" value="0" id="offset" onchange="input_offset();">
                      <div class="input-group-append">
                        <button class="btn btn-sm btn-outline-secondary" type="button" onclick="input_no_offset();">Origen</button>
                      </div>
                      <div class="input-group-append">
                        <button class="btn btn-sm btn-outline-secondary" type="button" onclick="input_lr(1);">►</button>
                      </div>
                    </div>
                </div>
                <div class="col-sm-5"></div>
            </div>
        </div>

        <hr>

        <div class="input-group input-group-sm mt-2">
          <input type="text" readonly="readonly" class="form-control" placeholder="{{ _('Pulsa \'exportar\' para obtener el código de esta pulsera') }}" id="exportext">
          <div class="input-group-append">
            <button class="btn btn-block btn-outline-secondary btn-sm px-5" onclick="exporta();">Exportar</button>
          </div>
        </div>
    </div>
</div>


<div class="card mx-2 mt-2 border-c">
    <h5 class="card-header">{{ _('Colores') }}</h5>
    <div class="card-body pb-2">
        <p>
            {{ _('Los colores de la aplicación intentan parecerse a los de las cuentas siguientes:') }}
        </p>
        <div class="container">
            {% for c, x in beads.items() %}
                {% if loop.index%4 == 1 %}
                    <div class="row mb-1">
                {% endif %}
                     <div class="col-sm-1 border border-secondary" style="background: {{x.hex}};"></div>
                <div class="col-sm border-top border-bottom border-right border-c mr-2"><small>
                    {{x.prod[0].brand|upper}} {{x.prod[0].id}}
                </small></div>
            {% if loop.index%4 == 0 or loop.last %}
            </div>
            {% endif %}
            {% endfor %}
        </div>
        <hr class="mb-1">
        <div>
            <small>
                <b>MY</b> = Miyuki, <b>TH</b> = Toho<br>
                <b>OL</b> = Opaque Luster, <b>CY</b> = Ceylon, <b>M</b> = Metallic, <b>OR</b> = Opaque Rainbow
            </small>
        </div>
    </div>
</div>


<div class="card mx-2 mt-2 border-c">
    <h5 class="card-header">{{ _('Diseños') }}</h5>
    <div class="card-body">

        {% for group, combis in designs.items() %}
        <h5>{{group}}</h5>
        <div class="container-fluid ml-2">
            {% for nombre, combi in combis.items() %}
                <div class="row mb-3">
                    <div class="col-md-2 pl-1 text-right">
                        {{nombre}}
                    </div>
                    <div class="col px-0 scroll-thin">
                        <table class="glued-cells">
                            <tr>
                                {% if "x" in combi.code %}
                                    {% set code, repeats = combi.code.split("x") %}
                                {% else %}
                                    {% set code, repeats = combi.code, 1 %}
                                {% endif %}
                                {% for _ in range(repeats|int) %}
                                    {% for num in code.split(",") %}
                                        <td class="th_bolita_container">
                                            <div class="thumbnail_bolita" style="background: {{beads.get(num|int).hex}};"></div>
                                        </td>
                                    {% endfor %}
                                {% endfor %}
                            </tr>
                        </table>
                    </div>
                    <div class="col-md-auto">
                        <button onclick="import_this_code('{{combi.code}}');" class="btn btn-outline-secondary btn-sm px-4 py-1">{{ _('Llevar al editor') }}</button>
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if not loop.last %}
        <hr>
        {% endif %}
        {% endfor %}

    </div>
</div>

<div class="text-center px-3 mt-2">
    <small>
        {{ _('Llevaba demasiado tiempo echando de menos aquél "Pulsermaker" que hice en 2010 con flash...') }}
        {{ _('por fin ha podido renacer.') }}<br>
        ~ Rusca 2021 ~
    </small>
</div>


<script>
    //TODO resize con ResizeObserver

    /**** variables globales ****/
    // UI
    i_actual = 1;
    x_actual = -200;
    y_actual = -200;
    color_actual = 3;
    xc_actual = -200;
    yc_actual = -200;
    rc_actual = 50;
    acabados = true;


    // cantidades de bolitas
    CANTIDAD_INICIAL = {{ndefault}};
    var n, nSide, nTop, nBot;
    update_ns(CANTIDAD_INICIAL);

    //anchos de bola (en la realidad)
    var anchos = {
        "my11": 0.20,
        "th11": 0.22,
    }

    // medidas por defecto (override en update_sizes)
    u = 1;
    bw = 20;
    bh = bw*3/2;
    br = bw*0.25;
    bgap = bw*0.3;
    yTop = 40;
    yBot = 100;

    // herramientas
    hu = 1;

    // debugging
    xcur = 0;
    ycur = 0;

    //inicio
    window.onload = function(){
        c=document.getElementById("app");
        //c.focus();  //si lo pongo, cuando llego a la página se va para abajo

        // medidas
        cWidth = c.clientWidth*3;
        cWidth = 0.9*cWidth;
        c.width = cWidth;
        c.height = c.width*0.7;
        update_sizes(c);
        set_positions();
        set_toolbars();

        //UI
        n2cms();

        // inicializa
        cc=c.getContext("2d");
        init_collisions(c);

        // dibuix recurrent
        update();
        setInterval(update, 1000);
    }

    function update_ns(newn){
        n = newn;
        nSide = Math.max(Math.round(n/20), 1);
        nTop = Math.ceil((n - 2*nSide) / 2);
        nBot = n-2*nSide-nTop;
        if(i_actual>n){
            i_actual = n;
        }
    }

    function update_sizes(c){
        //pulsera
        pgap = 0.15;  // proporción del ancho que coge el hueco
        bw = c.width/((nTop+2)*(1+pgap));
        bh = bw*3/2;
        br = bw*0.25;
        bgap = bw*pgap;
        yTop = bw + bw*(nSide/5);
        yBot = yTop + 2*bgap*9+(bh+bgap)*(nSide+1);
        u = bw/20;  // la "unidad" para medir lo demás que dependa de la bolita

        //herramientas
        hu =  (yBot-yTop-2*bh)/120;  // unidad para medir el menú
        hy = (yBot+yTop)/2;
        hr = 9*hu;  // radio color
        hrs = 7*hu;  // radio color peques
        hrl = 12*hu;  // radio color grandes (bw)
        hgap = 2*hr*pgap;  // hueco entre colores
        hgaps = 2*hrs*pgap;  // hueco entre colores peques
        hgapl = 2*hrl*pgap;  // hueco entre colores grandes

        //canvas adapto altura
        c.height = yBot + yTop;
    }

    // genero el brazalete
    var bolitas = [];
    var ioffset = 0;
    function set_positions(){
        bolitas = [];
        //top
        for(i=0;i<nTop;i++){
            x = Math.round(c.width/2 - (bw*nTop+bgap*(nTop-1))/2 +i*(bw+bgap) +bw/2);
            ntoborder = Math.min(i+1, nTop-i);
            if(ntoborder>3){
                y = yTop;
            }else{
                y = yTop + bgap*Math.pow((4-ntoborder), 2);
            }
            if(ntoborder>4){
                edge = ["t"];
            }else{
                if(i+1 < nTop-i){
                    edge = ["t", "l"];
                }else{
                    edge = ["t", "r"];
                }
            }
            bolitas.push({
                num: (i+1+ioffset) % n +1,
                x: x,
                y: y,
                ccode: 2,
                edge: edge,
            });
        }
        //right
        x = Math.round(c.width/2 + (bw*nTop+bgap*(nTop-1))/2 -bw/2 + 2*bgap);
        for(i=0;i<nSide;i++){
            y = yTop + bgap*9+(bh+bgap)*(i+1);
            bolitas.push({
                num: (i+nTop+1+ioffset) % n +1,
                x: x,
                y: y,
                ccode: 2,
                edge: ["r"],
            });
        }
        //bottom
        for(i=0;i<nBot;i++){
            ntoborder = Math.min(i+1, nBot-i);
            if(ntoborder>3){
                y = yBot;
            }else{
                y = yBot - bgap*Math.pow((4-ntoborder), 2);
            }
            if(ntoborder>4){
                edge = ["b"];
            }else{
                if(i+1 < nTop-i){
                    edge = ["b", "l"];
                }else{
                    edge = ["b", "r"];
                }
            }
            bolitas.push({
                num: (nBot-i +nTop+nSide +ioffset) % n +1,
                x: Math.round(c.width/2 - (bw*nBot+bgap*(nBot-1))/2 + i*(bw+bgap) + bw/2),
                y: y,
                ccode: 2,
                edge: edge,
            });
        }
        //left
        x = Math.round(c.width/2 - (bw*nTop+bgap*(nTop-1))/2 +bw/2 - 2*bgap);
        for(i=0;i<nSide;i++){
            y = yTop + bgap*9+(bh+bgap)*(i+1);
            bolitas.push({
                num: (nSide-i +nTop+nSide+nBot +ioffset) % n +1,
                x: x,
                y: y,
                ccode: 2,
                edge: ["l"],
            });
        }
    }

    // pongo las herramientas centrales
    h_colores=[];
    function set_toolbars(){
        h_colores = [];

        // deselect, negro y blanco
        x0 = c.width/2 - (8*(hr*2)+7*hgap + 3*(hrl*2)+2*hgapl + hgapl)/2 + (hrl+hr)/2;  //x izquierda barra
        for(i=0;i<3;i++){
            x = x0 + (hrl*2+hgapl)*i;
            h_colores.push({
                x: x,
                y: hy,
                r: hrl,
                hnum: i,
                hotkey: i == 0 ? "v" : "esp",
            });
        }

        // fila central
        x01 = x0 + (hrl*2+hgapl)*3;
        hotkeys = ["q", "w", "e", "r", "t", "y", "u", "i"];
        for(i=0;i<8;i++){
            x = x01 + (hr*2+hgap)*i;
            h_colores.push({
                x: x,
                y: hy,
                r: hr,
                hnum: i+3,
                hotkey: hotkeys[i],
            });
        }

        // fila superior
        x02 = x01-hr-hgap/2;
        for(i=0;i<8;i++){
            x = x02 + (hr*2+hgap)*i;
            h_colores.push({
                x: x,
                y: hy-hr*2-hgap,
                r: hr,
                hnum: i+3+16,
                hotkey: (i+1).toString(),
            });
        }

        // fila inferior
        x03 = x01+hr+hgap/2;
        hotkeys = ["a", "s", "d", "f", "g", "h", "j", "k"];
        for(i=0;i<8;i++){
            x = x03 + (hr*2+hgap)*i;
            h_colores.push({
                x: x,
                y: hy+hr*2+hgap,
                r: hr,
                hnum: i+3+8,
                hotkey: hotkeys[i],
            });
        }

    }

    function newn_canvas(newn, c){
        update_ns(newn);
        update_sizes(c);
        set_positions();
        set_toolbars();
    }

    function input_offset(){
        let ui_offset = document.getElementById("offset");
        let q = parseInt(ui_offset.value);
        q = q % n;
        ui_offset.value = q;
        if(q<0){
            q += n;
        }
        new_offset(q);
    }

    function input_lr(lr){
        let ui_offset = document.getElementById("offset");
        let q = parseInt(ui_offset.value);
        q = (q + lr) % n;
        ui_offset.value = q;
        new_offset(q);
    }

    function input_no_offset(){
        let ui_offset = document.getElementById("offset").value = 0;
        new_offset(0);
    }

    function new_offset(q){
        /* coloca los colores "q" bolitas hacia la derecha */
        let ncombi = cc_extrae();
        ioffset = q+n;
        set_positions();
        cc_aplica(ncombi);
    }

    let mostrando_ui = 2;  // 0 oculto, 1 nums ocultos, 2 visible
    let ui_ccode = false;  // sustituye los atajos de teclado por los códigos de color
    function update(){
        // previos
        cc.font = (10*u).toString() + "px Helvetica";
        cc.lineWidth = 1.4*u;
        cc.textBaseline = "middle";
        cc.textAlign = "center";

        // fondo
        cc.fillStyle="white";
        cc.fillRect(0, 0, c.width, c.height);

        //precálculo
        for(let b of bolitas){
            if(i_actual==b.num){
                x_actual = b.x;
                y_actual = b.y;
            }
        }

        //sub_ui
        if(color_actual!=0){
            cc.fillStyle=toColor(color_actual);
            cc.roundRect(x_actual-bw/2-8*u, y_actual-bh/2-8*u, bw+16*u, bh+16*u, br).fill();
        }else{
            cc.strokeStyle = "lightgrey";
            cc.roundRect(x_actual-bw/2-6*u, y_actual-bh/2-6*u, bw+12*u, bh+12*u, br).stroke();
        }

        // bolitas
        for(let b of bolitas){
            dibujaBolita(b);
        }
        cc.roundRect(x_actual-bw/2-8*u, y_actual-bh/2-8*u, bw+16*u, bh+16*u, br).stroke();


        // herramientas
        if(mostrando_ui>0){
            cc.font = (8*hu).toString() + "px Helvetica";
            for(let col of h_colores){
                cc.lineWidth = 1.2*hu;
                activo = true;
                if(tool_ccode(col.hnum)==2 && col.hnum > 2){
                    activo = false;
                }
                if(activo){
                    cc.strokeStyle = "black";
                }else{
                    cc.strokeStyle = "lightgrey";
                }
                cc.fillStyle = tool_color(col.hnum);
                drawCircle(cc, col.x, col.y, col.r, true, true);
                if(activo){
                    cc.fillStyle = toTextColor(tool_ccode(col.hnum));
                }else{
                    cc.fillStyle = "lightgrey";
                }
                if(ui_ccode){
                    if(!(tool_ccode(col.hnum.toString())==2 && col.hnum>3)){  // evito escribir en los vacíos
                        cc.fillText(tool_ccode(col.hnum.toString()), col.x, col.y);
                    }
                }else{
                    cc.fillText(col.hotkey.toString(), col.x, col.y);
                }
                if(col.hnum==0){  // dibuix select
                    cc.strokeStyle = "lightgrey";
                    drawCircle(cc, col.x, col.y, col.r-3*hu, true, false);
                }

                //actual?
                if(activo && tool_ccode(col.hnum)==color_actual){
                    xc_actual = col.x;
                    yc_actual = col.y;
                    rc_actual = col.r;
                }
            }
            lineWidth = 1.5*hu;
            cc.strokeStyle = "lightblue";
            drawCircle(cc, xc_actual, yc_actual, rc_actual+1.3*hu, true, false);
        }

        //debugging
        cc.fillStyle = "red";
        //cc.fillRect(xcur, ycur, 5, 5);
        //cc.fillRect(x0, 0, u/3, c.height);
        //cc.fillRect(x01, 0, u/3, c.height);
        //cc.fillRect(x01+(hr*2)*8+hgap*7, 0, u/3, c.height);
    }

    lightest_colors = [2, 3, 9];
    function g_luster_t(b){
        luster = cc.createLinearGradient(0, b.y-bh/2, 0, b.y+bh/2);
        if(lightest_colors.includes(b.ccode)){
            luster.addColorStop(0, "rgb(255, 255, 255, 0.9)");
            luster.addColorStop(0.5, "rgb(255, 255, 255, 0)");
        }else if(dark_colors.includes(b.ccode)){
            luster.addColorStop(0, "rgb(255, 255, 255, 0.4)");
            luster.addColorStop(0.5, "rgb(255, 255, 255, 0)");
        }else{
            luster.addColorStop(0, "rgb(255, 255, 255, 0.5)");
            luster.addColorStop(0.5, "rgb(255, 255, 255, 0)");
        }

        return luster;
    }

    function g_luster_b(b){
        luster = cc.createRadialGradient(b.x, b.y-bh/2, bw/10, b.x, b.y-bh/2, bh*0.93);
        if(lightest_colors.includes(b.ccode)){
            luster.addColorStop(0.7, "rgb(255, 255, 255, 0)");
            luster.addColorStop(1, "rgb(255, 255, 255, 0.5)");
        }else if(dark_colors.includes(b.ccode)){
            luster.addColorStop(0.7, "rgb(255, 255, 255, 0)");
            luster.addColorStop(1, "rgb(255, 255, 255, 0.2)");
        }else{
            luster.addColorStop(0.7, "rgb(255, 255, 255, 0)");
            luster.addColorStop(1, "rgb(255, 255, 255, 0.3)");
        }

        return luster;
    }


    function dibujaBolita(b){
        //color
        cc.fillStyle = toColor(b.ccode);
        cc.roundRect(b.x-bw/2, b.y-bh/2, bw, bh, br).fill();
        //acabado
        if(acabados){
            cc.fillStyle = g_luster_t(b);
            cc.roundRect(b.x-bw*0.4, b.y-bh*0.43, bw*0.8, bh*0.86, br*0.9).fill();
            cc.fillStyle = g_luster_b(b);
            cc.roundRect(b.x-bw/2, b.y-bh/2, bw, bh, br).fill();
        }
        //línea
        cc.strokeStyle = "black";
        cc.roundRect(b.x-bw/2, b.y-bh/2, bw, bh, br).stroke();
        //num
        if(mostrando_ui>1){
            cc.fillStyle = toTextColor(b.ccode);
            cc.fillText(b.num.toString(), b.x, b.y);
        }
    }

    // decrypt colores
    function toColor(ccode){
        switch(ccode){
            case 1:
                return "#1c1c1c";  // negro / MY: [O-401], OL-464
            case 2:
                return "#f2f2f2";    // blanco / MY: [OL-420]
            case 3:
                return "#ffdf0f";  // amarillo / MY: [OL-422]
            case 4:
                return "#fc7b2b";  // naranja (oscuro) / MY: [OL-423]
            case 5:
                return "#e02b2b";  // rojo / MY: [OL-425]
            case 6:
                return "#8a2424";  // granate / MY: [OL-426]
            case 7:
                return "#492c96";  // azul oscuro / MY: [OL-434]
            case 8:
                return "#50b9eb";  // azul parís /
            case 9:
                return "#9ae4f5";  // azul claro / TH: [OL-124]
            case 10:
                return "#dff048";  // verde amarillo / MY: [OL-439]
            case 11:
                return "#4ca652";  // verde medio / MY: [OL-431]
            case 12:
                return "#616061";  // gunmetal / MY: [M-451]
            case 13:
                return "#fcd9eb";  // rosa / MY: OL-428
            case 14:
                return "#f0c169";  // beige / TH: OL-123D
            case 15:
                return "#fce9dc";  // rosa / MY: CY-529
            case 16:
                return "#80edd9";  // turquesa claro / TH: OR-413
            case 17:
                return "#1f5c35";  // verde oscuro / TH: [OL-130D?]
            case 18:
                return "#8486e8";  // lila / MY: [CY-538]
            default:
                return "#f700ff";
        }
    }

    dark_colors = [1, 5, 6, 7, 11, 12, 17, 18];
    function toTextColor(ccode){
        if(dark_colors.includes(ccode)){
            return "white";
        }else{
            return "black";
        }
    }

    color_rows = [
        [3, 4, 5, 6, 7, 8, 9, 10],
        [11, 17, 12, 13, 14, 15, 16, 18],
        [2, 2, 2, 2, 2, 2, 2, 2],
    ];
    function tool_ccode(hnum){
        if(hnum<3){
            return hnum;
        }else{
            fila = (Math.floor((hnum-3)/8))%color_rows.length;
            return color_rows[fila][(hnum-3)%8];
        }
    }
    function tool_color(hnum){
        if(hnum==0){  // selection tool
            return "white";
        }else{
            return toColor(tool_ccode(hnum));
        }
    }


    //decoder
    function cc_aplica(combi){
        if(combi.length!=n && combi.length>20){
            newn_canvas(combi.length, c);
        }
        for(let b of bolitas){
            ccode = parseInt(combi[b.num-1]);
            if(!isNaN(ccode)){
                b.ccode = ccode;
            }
        }
        update();
    }

    //encoder
    function cc_extrae(){
        let combi = new Array(n).fill(15);
        for(let b of bolitas){
            combi[b.num-1] = b.ccode;
        }
        return combi;
    }

    //traslada
    function cc_traslada(combi, nuevan){
        nuevacombi = [];
        for(i=0;i<nuevan;i++){
            if(i<combi.length){
                nuevacombi.push(combi[i]);
            }else{
                nuevacombi.push(2);
            }
        }
        return nuevacombi;
    }

    // circles
    function drawCircle(cc, x, y, r, stroke, fill){
        cc.beginPath();
        cc.arc(x, y, r, 0, 2 * Math.PI, false);
        if(fill){
            cc.fill();
        }
        if(stroke){
            cc.stroke();
        }
    }

    // StackOverflow rounded Rects
    CanvasRenderingContext2D.prototype.roundRect = function (x, y, w, h, r) {
      if (w < 2 * r) r = w / 2;
      if (h < 2 * r) r = h / 2;
      this.beginPath();
      this.moveTo(x+r, y);
      this.arcTo(x+w, y,   x+w, y+h, r);
      this.arcTo(x+w, y+h, x,   y+h, r);
      this.arcTo(x,   y+h, x,   y,   r);
      this.arcTo(x,   y,   x+w, y,   r);
      this.closePath();
      return this;
    }

    // Collisions (partially StackOverflow)
    function init_collisions(c){
        c.addEventListener('click', function(event){
            /* x = event.pageX - (c.offsetLeft + c.clientLeft);
            y = event.pageY - (c.offsetTop + c.clientTop); */
            const rect = c.getBoundingClientRect();
            const relX = event.clientX - rect.left;
            const relY = event.clientY - rect.top;
            x = relX * c.width / rect.width;
            y = relY * c.height / rect.height;
            //prompt(bolitas[0].x + ":" + bw + " // " + x + ", " + y);
            xcur = x;
            ycur = y;
            for(let b of bolitas){
                if(x > b.x-bw/2 && x < b.x+bw/2 && y > b.y-bh/2 && y < b.y+bh/2){
                    if(color_actual!=0){
                        b.ccode = color_actual;
                    }
                    i_actual = b.num;
                    clear_export();
                    update();
                    return;
                }
            }
            if(mostrando_ui > 0){  // sólo clicables si visibles
                for(let col of h_colores){
                    if(Math.pow(x-col.x, 2)+Math.pow(y-col.y, 2)<Math.pow(col.r, 2)){
                        if(col.hnum>2 && tool_ccode(col.hnum)==2){
                            return; //estaba desactivada
                        }
                        color_actual = tool_ccode(col.hnum);
                        update();
                        return;
                    }
                }
                if(color_actual==0){
                    i_actual = -200;
                    x_actual = -200;
                    y_actual = -200;
                }
            }
            update();
        }, false);
    }

    /***************************************************************/
    /**----------------------- Form UI ---------------------------**/
    /***************************************************************/

    //importar combinació
    function importar(){
        text = document.getElementById("text");
        combi = text.value;
        if(combi.startsWith(",")){
            combi = combi.slice(1);
        }
        if(combi.endsWith(",")){
            combi = combi.slice(0, -1);
        }

        // comandos estilo Emmet (x, i, >, e, r...)
        if(combi.startsWith("r")){  // Rotar origen (eligiendo nueva bolita #1): rBNUM
            let cantidad = parseInt(combi.slice(1)); // cantidad a rotar
            combi = cc_extrae();
            combi = combi.slice(cantidad-1).concat(combi.slice(0, cantidad-1));
        }else if(combi.includes("i")){  // Insertar: BNUMSi / BNUMSiCOMBI
            ems_combi = combi.split("i");
            if(ems_combi.length==2){
                let posiciones = ems_combi[0].split(",");
                for(let i=0; i<posiciones.length; i++){  // parse todo el array de posiciones
                    posiciones[i] = parseInt(posiciones[i]);
                }

                posiciones.sort(function(a, b) {return a-b}).reverse();  // ordenadas de grande a pequeña (para insertar sin afectar)
                combi = cc_extrae();

                if(ems_combi[1]==""){  // BNUMSi (mete una bola blanca)
                    i_combi = [2];
                }else{  // BNUMSiCOMBI (mete combinación)
                    if(ems_combi[1].endsWith(",")){
                        ems_combi[1] = ems_combi[1].slice(0, -1);
                    }
                    i_combi = ems_combi[1].split(",");
                    i_combi.reverse();  // entrarán por la derecha
                }

                for(let p of posiciones){
                    if(p>0 && p<=n){
                        for(let bi of i_combi){
                            combi.splice(p, 0, bi);
                        }
                    }
                }
            }else{
                return;
            }
        }else if(combi.includes("e")){  // elimina bolita en posición: BNUMSe
            ems_combi = combi.split("e");
            if(ems_combi.length==2){
                if(ems_combi[0].endsWith(",")){
                    ems_combi[0] = ems_combi[0].slice(0, -1);
                }
                posiciones = ems_combi[0].split(",");
                for(let i=0; i<posiciones.length; i++){  // parse todo el array de posiciones
                    posiciones[i] = parseInt(posiciones[i]);
                }
                posiciones.sort(function(a, b) {return a-b}).reverse();  // ordenadas de grande a pequeña (para insertar sin afectar)
                combi = cc_extrae();

                for(let p of posiciones){
                    if(p>0 && p<=combi.length){
                        combi.splice(p-1, 1);
                    }
                }
            }else{
                return;
            }

        }else if(combi.includes("x")){  // Generar: COMBIx / COMBIxVECES
            ems_combi = combi.split("x");
            if(ems_combi[0].endsWith(",")){
                ems_combi[0] = ems_combi[0].slice(0, -1);
            }
            aux_combi = ems_combi[0].split(",");

            if(aux_combi.length<1){  // por si acaso...
                return;
            }

            if(ems_combi[1].length<1){  // COMBIx
                ems_n = Math.ceil(n/aux_combi.length);
                target_n = n;
            }else{  //COSASx#
                ems_n = ems_combi[1];
                target_n = aux_combi.length * ems_n;
                if(target_n < {{nmin}}){
                    target_n = {{nmin}};
                }
            }

            // monto los legos
            combi = [];
            for(let i=0;i<target_n && i<{{nmax}};i++){
                if(i<ems_n * aux_combi.length){
                    combi.push(aux_combi[i % aux_combi.length])
                }else{
                    combi.push("2");
                }
            }
        }else if(combi.includes(">")){  // substituir COLOR>NUEVO
            ems_combi = combi.split(">");
            if(ems_combi.length==2){
                for(let b of bolitas){
                    if(b.ccode==ems_combi[0]){
                        b.ccode = parseInt(ems_combi[1]);
                    }
                }
            }
            document.getElementById("exportext").value = "";
            text.value="";
            return;
        }else{  // normales
            combi = combi.split(",");
        }
        if(combi.length<{{nmin}} || combi.length>{{nmax}}){
            return;
        }
        cc_aplica(combi);
        document.getElementById("exportext").value=text.value;
        text.value="";
        document.getElementById("n").value=n;
        n2cms();
        i_actual=1;
        color_actual=0;
    }

    function key_importar(e){
        if(event.key==="Enter"){
            importar();
        }
    }

    //entra n nova
    function input_n(){
        ui_n = document.getElementById("n");
        nuevan = parseInt(ui_n.value);
        if(nuevan<{{nmin}}){
            ui_n.value = {{nmin}};
        }else if(nuevan>{{nmax}}){
            ui_n.value = {{nmax}};
        }
        nuevan = parseInt(ui_n.value);
        if(nuevan==n){
            n2cms();
            return;
        }
        if(nuevan<n){
            // compruebo si hay cosas
            combi = cc_extrae();
            avisar = false;
            for(i=nuevan;i<combi.length;i++){
                if(combi[i]!=2){
                    avisar = true;
                    break;
                }
            }
            if(avisar){
                if(nuevan==n-1){
                    aviso = "{{ _('Los datos de la bolita') }} " + n.toString() + " {{ _('se perderán. Continuar?') }}";
                }else{
                    aviso = "{{ _('Los datos de las bolitas') }} " + (nuevan+1).toString() + "-" + (n).toString() + " {{ _('se perderán. Continuar?') }}";
                }
                if(!confirm(aviso)){
                    ui_n.value=n;
                    n2cms();
                    return;
                }
            }
        }
        // ajusto máximos del deslizable
        let ui_offset = document.getElementById("offset");
        ui_offset.min = -nuevan;
        ui_offset.max = nuevan;

        // ajusta todo
        n2cms();
        combi = cc_extrae();
        newn_canvas(nuevan, c);
        cc_aplica(cc_traslada(combi, n));
        clear_export();
    }

    //n->cms
    function n2cms(){
        ui_n = document.getElementById("n");
        ui_cm = document.getElementById("cm");
        ui_cuenta = document.getElementById("cuenta");
        nuevoscm = parseInt(ui_n.value)*anchos[ui_cuenta.value];
        ui_cm.value = parseFloat(nuevoscm).toFixed(1);
    }

    //entra cms nuevos
    function input_cms(){
        ui_cm = document.getElementById("cm");
        ui_cuenta = document.getElementById("cuenta");
        ui_n = document.getElementById("n");
        nuevoscm = parseFloat(ui_cm.value);
        nuevan = Math.round(nuevoscm/anchos[ui_cuenta.value])
        ui_n.value = nuevan;
        input_n();
    }

    //cambia el tipo de cuenta
    function input_cuenta(){
        n2cms();
    }

    function clear_export(){
        document.getElementById("exportext").value = "";
    }

    function exporta(){
        // exporta
        combi = cc_extrae();
        combitext = combi.join();

        //escribe
        exportext = document.getElementById("exportext");
        exportext.value = combitext;

        //focus (no copio por defecto)
        exportext.focus();
        exportext.select();
    }


    //canvas hotkeys
    flechas = ["ArrowUp", "ArrowLeft", "ArrowRight", "ArrowDown"];
    function canvas_hotkeys(e){
        if(e.key=="Enter"){
            for(let b of bolitas){
                if(i_actual==b.num){
                    b.ccode = color_actual;
                    break;
                }
            }
        }else if(e.key==" "){
            if(color_actual==1){
                color_actual=2;
            }else{
                color_actual=1;
            }
        }else if(flechas.includes(e.key)){
            edge="";
            for(let b of bolitas){
                if(b.num==i_actual){
                    edge = b.edge;
                    break;
                }
            }
            if((e.key=="ArrowUp" && edge.includes("l")) || (e.key=="ArrowDown" && edge.includes("r")) ||
               (e.key=="ArrowRight" && edge.includes("t")) || (e.key=="ArrowLeft" && edge.includes("b"))){
                    i_actual++;
                    if(i_actual>n){
                        i_actual-=n;
                    }
            }else if((e.key=="ArrowUp" && edge.includes("r")) || (e.key=="ArrowDown" && edge.includes("l")) ||
                     (e.key=="ArrowRight" && edge.includes("b")) || (e.key=="ArrowLeft" && edge.includes("t"))){
                i_actual--;
                if(i_actual<1){
                    i_actual+=n;
                }
            }
        }else{
            for(let col of h_colores){
                if(col.hotkey==e.key){
                    if(col.hnum>2 && tool_ccode(col.hnum)==2){
                       // desactivada
                    }else{
                        color_actual = tool_ccode(col.hnum);
                        update();
                        return;
                    }
                }
            }
            if(e.key=="o"){
                mostrando_ui = (mostrando_ui+1)%3;
            }else if(e.key=="c"){
                if(ui_ccode){
                    ui_ccode = false;
                }else{
                    ui_ccode = true;
                }
            }
        }
        update();
    }

    window.addEventListener("keydown", function(e){
        if((flechas.includes(e.key) || e.key==" ") && document.activeElement==c){
            e.preventDefault();
        }
    }, false);


    /* *********** UI DISEÑOS *********** */
    function to_import(d){
        dfield = document.getElementById(d);
        importext = document.getElementById("text");
        importext.value = dfield.value;
        window.location="#to_input";
        importext.select();
        importext.focus();
    }
    function import_this_code(combi_code){
        importext = document.getElementById("text");
        importext.value = combi_code;
        window.location="#to_input";
        importext.select();
        importext.focus();
    }

    /******* otras cosas de la página ********/
    beads_info = {
        1: {
            hex: "#1c1c1c",
            nombre: "negro",
            main: "my",
            my: ["OL", "464"],
            x_my: ["O", "401"],
            th: ["", ""],
            x_th: ["", ""],
        },
        2: {
            hex: "#f2f2f2",
            nombre: "blanco",
            main: "my",
            my: ["OL", "420"],
            x_my: ["", ""],
            th: ["", ""],
            x_th: ["", ""],
        },
        3: {
            hex: "#ffdf0f",
            nombre: "amarillo",
            main: "my",
            my: ["OL", "422"],
            x_my: ["", ""],
            th: ["", ""],
            x_th: ["", ""],
        },
        4: {
            hex: "#fc7b2b",
            nombre: "naranja",
            main: "my",
            my: ["OL", "423"],
            x_my: ["", ""],
            th: ["", ""],
            x_th: ["", ""],
        },
        5: {
            hex: "#e02b2b",
            nombre: "rojo",
            main: "my",
            my: ["OL", "425"],
            x_my: ["", ""],
            th: ["", ""],
            x_th: ["", ""],
        },
        6: {
            hex: "#8a2424",
            nombre: "granate",
            main: "my",
            my: ["OL", "426"],
            x_my: ["", ""],
            th: ["", ""],
            x_th: ["", ""],
        },
        7: {
            hex: "#492c96",
            nombre: "azul oscuro",
            main: "my",
            my: ["OL", "434"],
            x_my: ["", ""],
            th: ["", ""],
            x_th: ["", ""],
        },
        8: {
            hex: "#50b9eb",
            nombre: "azul parís",
            main: "th",
            my: ["", ""],
            x_my: ["", ""],
            th: ["OL", "403"],
            x_th: ["", ""],
        },
        9: {
            hex: "#9ae4f5",
            nombre: "azul claro",
            main: "th",
            my: ["", ""],
            x_my: ["", ""],
            th: ["OL", "124"],
            x_th: ["", ""],
        },
        10: {
            hex: "#dff048",
            nombre: "verde amarillo",
            main: "my",
            my: ["OL", "439"],
            x_my: ["", ""],
            th: ["", ""],
            x_th: ["", ""],
        },
        11: {
            hex: "#4ca652",
            nombre: "verde",
            main: "my",
            my: ["OL", "431"],
            x_my: ["", ""],
            th: ["", ""],
            x_th: ["", ""],
        },
        12: {
            hex: "#616061",
            nombre: "gris gunmetal",
            main: "my",
            my: ["M", "451"],
            x_my: ["", ""],
            th: ["", ""],
            x_th: ["", ""],
        },
        13: {
            hex: "#fcd9eb",
            nombre: "rosa",
            main: "my",
            my: ["OL", "428"],
            x_my: ["", ""],
            th: ["", ""],
            x_th: ["", ""],
        },
        14: {
            hex: "#f0c169",
            nombre: "beige",
            main: "th",
            my: ["", ""],
            x_my: ["", ""],
            th: ["OL", "123D"],
            x_th: ["", ""],
        },
        15: {
            hex: "#fce9dc",
            nombre: "crema",
            main: "my",
            my: ["CY", "529"],
            x_my: ["", ""],
            th: ["", ""],
            x_th: ["", ""],
        },
        16: {
            hex: "#80edd9",
            nombre: "turquesa",
            main: "th",
            my: ["", ""],
            x_my: ["", ""],
            th: ["OR", "413"],
            x_th: ["", ""],
        },
        17: {
            hex: "#1f5c35",
            nombre: "verde oscuro",
            main: "th",
            my: ["", ""],
            x_my: ["", ""],
            th: ["OL", "130D?"],
            x_th: ["", ""],
        },
        18: {
            hex: "#8486e8",
            nombre: "lila",
            main: "my",
            my: ["CY", "538"],
            x_my: ["", ""],
            th: ["", ""],
            x_th: ["", ""],
        },
    }

    function getBeadCode(ccode){
        bead = beads_info[ccode];
        if(bead.main=="my"){
            brand = "MY";
            type = bead.my[0];
            code = bead.my[1];
        }else if(bead.main=="th"){
            brand = "TH";
            type = bead.th[0];
            code = bead.th[1];
        }else{
            return "?";
        }
        return brand + " " + type + "-" + code;
    }
</script>
{% endblock %}