{% extends "base.html" %}
{% block title %}Perfil - Ningú {% endblock %}
{% block content %}

<div class="m-3">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-auto">
                <img src="/static/img/ningu.png" alt="profile pic" class="img-thumbnail profile-pic border-c">
            </div>
            <div class="col-md-auto py-2">
                <b>Ningú</b><br>
                no.se.pas.qui.ets@carxofes.cat<br>
                <a href="/login" type="button" class="btn btn-primary py-0 mt-2 text-white">Iniciar sessió</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}