
body {
    background-color: #1990bd;
    color: white;
    font-size: 100%;
}

.archive {
    background-color: #4bb4db;
    height: 100%;
}

a {
 color: white;
}

a:hover{
 text-decoration: none;
}

.num {
    color: rgba(255, 255, 255, 0.5);
}

.id {
    color: #1990bd;
}

table, tr {
    width: 100%;
    border: 1px solid #1990bd;
    background-color: #4bb4db;
}

td {
    border-right: 1px solid #1990bd;
}

.mono {
    font-family: courier;
}

.bb-thick {
    border-bottom: 4px solid #1990bd;
}

.lil-table {
    font-size: 0.7em;
}

.archived {
    background-color: rgba(0, 0, 0, 0.45);
}
.archived-other {
    background-color: rgba(0, 0, 0, 0.55);
}

.archived-header {
    background-color: rgba(0, 0, 0, 0.7);
}

.queued {
    background-color: rgba(70, 30, 30, 0.45);
}

.queued-other {
    background-color: rgba(70, 30, 30, 0.55);
}

.queued-header {
    background-color: rgba(70, 30, 30, 0.7);
}

.pooled {
    background-color: rgba(180, 100, 0, 0.40);
}

.pooled-other {
    background-color: rgba(180, 100, 0, 0.50);
}

.pooled-header {
    background-color: rgba(180, 100, 0, 0.65);
}

.invisipopup {
    position: absolute;
    left: 30%;
    top: 30%;
    width: 40%;
    height: 40%;
    background-color: white;
    color: black;
    white-space: nowrap;
    font-size: 0.7em;
}

.hand {
    cursor: pointer;
}
