
body {
    background-color: #1990bd;
    color: white;
}

.archive {
    background-color: #4bb4db;
    height: 100%;
}

a {
 color: white;
}

a:hover{
 text-decoration: none;
}

.num {
    color: rgba(255, 255, 255, 0.5);
}

.id {
    color: #1990bd;
}

table, tr {
    width: 100%;
    border: 1px solid #1990bd;
    background-color: #4bb4db;
}

td {
    border-right: 1px solid #1990bd;
}

.mono {
    font-family: courier;
}

.bb-thick {
    border-bottom: 4px solid #1990bd;
}

.lil-table {
    font-size: smaller;
}

.archived {
    background-color: rgba(0, 0, 0, 0.5);
}

.archived-header {
    background-color: rgba(0, 0, 0, 0.7);
}

.queued {
    background-color: rgba(70, 30, 30, 0.5);
}

.queued-header {
    background-color: rgba(70, 30, 30, 0.7);
}

.hand {
    cursor: pointer;
}