
body {
    background-color: #1990bd;
    color: white;
    font-size: 100%;
}

.archive {
    background-color: #4bb4db;
    height: 100%;
}

.archive-text-size {
    font-size: min(3vw, 2.4vh);
}

.archive-header-size {
    font-size: min(7.2vw, 5.76vh);
}

.archive-subheader-size {
    font-size: min(3.6vw, 2.88vh);
}

.archive-kofi-footer {
    font-size: min(2.7vw, 2.16vh);
}

.archive-quote:hover {
    background-color: rgba(255, 255, 255, 0.1);
    height: 100%;
}

.archive-today {
    background-color: #006b91;
    height: 100%;
    cursor: pointer;
    position: sticky;
    top: 0;
    box-shadow: 0em 0.5em 1em -0.5em rgba(0, 50, 50, 0.4);
}

.archive-today:hover {
    background-color: #005370;
    height: 100%;
}

.archive-footer {
    background-color: #006b91;
    height: 100%;
    cursor: pointer;
    position: sticky;
    bottom: 0;
    box-shadow: 0em -0.5em 1em -0.5em rgba(0, 50, 50, 0.2);
}

.archive-footer:hover {
    background-color: #005370;
    height: 100%;
}

a {
 color: white;
}

a:hover{
 text-decoration: none;
 color: white;
}

.num {
    color: rgba(155, 175, 195, 1);
}

.arxiu-num {
    color: rgba(175, 217, 235, 1);
}

.id {
    color: #1990bd;
}

.id-today {
    color: #38a2c9;
}

table, tr {
    width: 100%;
    border: 1px solid #1990bd;
    background-color: #4bb4db;
}

td {
    border-right: 1px solid #1990bd;
}

.mono {
    font-family: courier;
}

.bb-thick {
    border-bottom: 4px solid #1990bd;
}

.lil-table {
    font-size: 0.7em;
}

.archived {
    background-color: rgba(0, 0, 0, 0.45);
}
.archived-other {
    background-color: rgba(0, 0, 0, 0.55);
}

.archived-header {
    background-color: rgba(30, 53, 64, 1);
}

.queued {
    background-color: rgba(70, 30, 30, 0.45);
}

.queued-other {
    background-color: rgba(70, 30, 30, 0.55);
}

.queued-header {
    background-color: rgba(76, 76, 86, 1);
}

.pooled {
    background-color: rgba(180, 100, 0, 0.40);
}

.pooled-other {
    background-color: rgba(180, 100, 0, 0.50);
}

.pooled-header {
    background-color: rgba(180, 100, 0, 0.65);
}

.table-controls {
    background-color: rgba(33, 33, 33, 1);
}

.fixed-right {
    background-color: rgba(0, 200, 0, 0.2);
}

.fixed-wrong {
    background-color: rgba(200, 0, 0, 0.4);
}

.watched-info {
    background-color: rgba(240, 240, 240, 1);
    cursor: pointer;
}

.watched-info-right {
    background-color: rgba(130, 250, 130, 1);
    cursor: pointer;
}

.watched-info-wrong {
    background-color: rgba(250, 130, 130, 1);
    cursor: pointer;
}

.invisipopup {
    position: fixed;
    left: 30%;
    top: 30%;
    width: 40%;
    height: 40%;
    background-color: white;
    color: black;
    white-space: nowrap;
    font-size: 0.7em;
    z-index: 2;
}

.hand {
    cursor: pointer;
}

.solves {
    color: rgba(250,250,250,0.5);
}

.table-wrapper-scroll-y {
    display: block;
}

.archive-scrollbar{
    position: relative;
    height: 207px;
    overflow: auto;
}

.queue-scrollbar{
    position: relative;
    height: 527px;
    overflow: auto;
}

.table-fix-head    { overflow: auto; height: 100px; }
.table-fix-head .archived-header { position: sticky; top: 0; }
.table-fix-head .queued-header { position: sticky; top: 0; }
.table-fix-head .pooled-header { position: sticky; top: 0; }

.end-of-table {
    height: 1px;
    background: white;
}