.arxiu-dot {
    width: var(--arch-day-rad);
    line-height: var(--arch-day-lh);
    height: var(--arch-day-rad);
    border-radius: 50%;
}

.arxiu-dot-pending {
    background-color: var(--color-ind);
    border: 1px solid var(--color-d-ind);
}
.arxiu-dot-wip {
    background-color: var(--color-def);
    border: 1px solid var(--color-d-def);
}
.arxiu-dot-solved {
    background-color: var(--color-res);
    border: 1px solid var(--color-d-res);
}
.arxiu-dot-disabled {
    background-color: var(--color-wop);
    color: var(--color-d-wop);
    border: 1px solid var(--color-d-wop);
}

.cal-month-hr {
    border-color: var(--color-d-wop);
}

.inner-game { /* overwrite */
    height: 110vh;
}

.arrow-left {
    width: 0px;
    height: 0px;
    border-right: 0.6rem solid black;
    border-left: 0rem solid transparent;
    border-top: 0.4rem solid transparent;
    border-bottom: 0.4rem solid transparent;
}
.arrow-left-disabled {
    border-right: 0.6rem solid lightgrey;
}
.arrow-right {
    width: 0px;
    height: 0px;
    border-right: 0rem solid transparent;
    border-left: 0.6rem solid black;
    border-top: 0.4rem solid transparent;
    border-bottom: 0.4rem solid transparent;
}
.arrow-right-disabled {
    border-left: 0.6rem solid lightgrey;
}
.arrow-container {
    cursor: pointer;
}