
.btn-resource {
    border: 0px;
    background-color: #E9EFF0;
    color: black;
    width: 100%;
    transition: 0.3s;
}

.btn-resource:hover {
    background-color: #CEDDE0;
}

.resource-prefix {
    background-color: #5F8D94;
    border: 0px;
    color: white;
    border-top-left-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    min-width: 2rem;
}

.resource-suffix {
    background-color: #A9C5C9;
    border: 0px;
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
    min-width: 2rem;
}

.resource-suffix a, .resource-suffix a:hover {
    color: white;
}

.resource-lang {
    color: #5F8D94;
}

.docents-categoria {
    padding-top: 0.13rem;
    padding-bottom: 0.2rem;
}

.bg-ne {
    background-color: #D2BC99;
}

.bg-ne .card-header {
    background-color: #917240;
    color: white;
}
