.bg-rusca {
 background-color: #f2e8c9;
}

.bg-c {
 background-color: #5c4723;
}

.border-c {
 border-color: #8a7450;
}

.bg-c-dark{
 background-color: #2e210b;
}

.btn-c-light {
 background-color: #f5f0e9;
}

.navbar {
 padding-top: 0.25rem; padding-bottom: 0.25rem;
}

:target {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}