.bg-rusca {
 background-color: #f2e8c9;
}

.bg-c {
 background-color: #5c4723;
}

.bg-c-lb {
 background-color: #8c6f3c;
}

.text-c-light {
 color: #f5f0e9;
}

.border-c {
 border-color: #8a7450;
}

.bg-c-dark{
 background-color: #2e210b;
}

.btn-c-light {
 background-color: #f7f5f2;
}

.btn-c-light:hover {
 background-color: #f0e8dd;
 //background-color: #f5f0e9;
}

.bg-info-light {
 background-color: #d1e7ed;
}

.bg-secondary-light {
 background-color: #e0e0e0;
}

.bg-success-light {
 background-color: #bee8ba;
}

.bg-warning-light {
 background-color: #ffe3a8;
}

.btn-mini {
    font-size: 0.7em;
}

.navbar {
 padding-top: 0.25rem; padding-bottom: 0.25rem;
}

.raquel {
 background-color = grey;
}

.alert-thin {
 margin-bottom: 1px;
 padding: 5px 15px;
}

:target {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

.card-columns-fit {
    column-gap: 0.6rem;
}