.bg-rusca {
 background-color: #f2e8c9;
}

.bg-c {
 background-color: #5c4723;
}

.bg-c-lb {
 background-color: #8c6f3c;
}

.text-c-light {
 color: #f5f0e9;
}

.border-c {
 border-color: #8a7450;
}

.bg-c-dark{
 background-color: #2e210b;
}

.btn-c-light {
 background-color: #f7f5f2;
}

.btn-c-light:hover {
 background-color: #f0e8dd;
 /*background-color: #f5f0e9;*/
}

.bg-info-light {
 background-color: #d1e7ed;
}

.bg-secondary-light {
 background-color: #e0e0e0;
}

.bg-success-light {
 background-color: #bee8ba;
}

.bg-warning-light {
 background-color: #ffe3a8;
}

.btn-mini {
    font-size: 0.7em;
}

.navbar {
 padding-top: 0.25rem; padding-bottom: 0.25rem;
}

.raquel {
 background-color: grey;
}

.alert-thin {
 margin-bottom: 1px;
 padding: 5px 15px;
}

:target {
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

.card-columns-fit {
    column-gap: 0.6rem;
}

canvas {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* avoid blue border */
    outline: none;
    -webkit-tap-highlight-color: rgba(255, 255, 255, 0); /* mobile webkit */
}

.min-w-index {
    min-width: 17rem;
}

.social-icon {
    height: 1.5rem;
}

.admin-top-bar {
    height: 0.15rem;
    background-color: #4488dd;
}

.profile-pic {
    height: 6.5rem;
    width: 6.5rem;
}

.admin-badge {
    font-size: 0.7rem;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    background-color: #4488dd;
    color: white;
}

.stretched-link-boundary {
    transform: rotate(0);
}

.non-decor, .non-decor:hover {
    color: black;
    text-decoration: none;
}

.drop {
    background-color: #574a36;
    border-color: black;
    position:absolute;
    top: 2.6rem;
    right: -0.2rem;
    min-width: 0;
}

.drop.show {
    /* worked first try */
    position:absolute;
}

.drop-i {
    color: #e3ddd3;
}

.drop-i:hover {
    background-color: #e3ddd3;
    color: #574a36;
}

.lang-icon {
    position: relative;
    top: 0.3rem;
}

.lang-text {
    position: relative;
    top: -0.1rem;
}

.lang-arrow {
    position: relative;
    top: -0.1rem;
}

/* DONATIONS WIDGET */
.donations-heart-button {
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
    background-color: wheat;
    border-radius: 20%;
    font-size: 2rem;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
    border: 1.5px solid black;
    filter: drop-shadow(0.1rem 0.1rem 0.1rem rgba(0,0,0,0.3));
}
.donations-heart-img {
    width: 90%;
    height: 90%;
    position:relative;
    top: -0.3rem;
}

.donations-card {
    height: 4rem;
    background-color: #947f5f;
    border: 1px solid black;
}

.donations-kofi {
    height: 100%;
    background-color: #635032;
    border: 1px solid black;
    margin-right: 3.5rem;
}

.pointer {
    cursor: pointer;
}