<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin: Diacríptic</title>

    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>Admin: Diacriptic</title>

    <!-- My CSS -->
    <link rel="stylesheet" href="/static/styles/mystyle.css">
    <link rel="stylesheet" href="/static/styles/encreuats.css">
    <link rel="stylesheet" href="/static/styles/diacriptics.css">
    <link rel="stylesheet" href="/static/styles/diacriptic_admin.css">

    <!-- My JS modules -->
    <script src="/static/js/diacriptics.js"></script>
</head>

<body class="p-3" style="height: 100vh;">
<div class="text-right"><a href="/diacriptic/admin" class="small non-decor mr-2">admin</a></div>

<h3 class="text-center mb-1">Diacriptic: Admin</h3>
<div class="dayclock text-center mt-0 mb-2">
    Users
</div>

<div>
    <b>Most Solves</b>
    <table>
        <tr>
            <td class="px-1 text-right">user_id</td>
            <td class="px-1 text-right">name</td>
            <td class="px-1"><b>username</b></td>
            <td class="px-1 text-center">solved</td>
            <td class="px-1 text-center">wip</td>
        </tr>
    {% for user_id, user in solves.items() %}
        <tr>
            <td class="px-1 text-right">{{ user_id }}</td>
            <td class="px-1 text-right">{{ user["name"] }}</td>
            <td class="px-1"><b>{{ user["username"] if user["username"] else ''}}</b></td>
            {% set user_recent = recent.get(user_id, {}) %}
            {% set recent_solved = user_recent.get('solved', 0) %}
            {% set recent_pending = user_recent.get('pending', 0) %}
            <td class="px-1 text-center">{{ user["solved"] }} <span class="{{'text-success' if recent_solved}}">{{'+' + recent_solved|string if recent_solved else ''}}</span></td>
            <td class="px-1 text-center">{{ user["pending"] }} <span class="{{'text-success' if recent_pending}}">{{'+' + recent_pending|string if recent_pending else ''}}</span></td>
        </tr>
    {% endfor %}
    </table>
</div>

    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>