{% extends "base.html" %}
{% block title %}Encreuats Críptics - David Ruscalleda{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="/static/styles/encreuats.css">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<h3 class="mt-3 text-center mb-1">Mots encreuats críptics</h3>
<p class="text-center">Llista dels críptics que he anat creant, i una mica de tutorial i exemples pels més novells :)</p>

<div class="container">
    <div class="row">
        {% for enc in encs %}
        <div class="col-md-3 px-1">
            <div class="card border-c mb-2">
                <h6 class="card-header py-1 px-2"><span class="index-enc-id">#{{enc["enc_id"]}}</span> {{enc["title"]}}</h6>
                <div class="card-body py-1 px-2 small">
                    {{enc["autor"]}} · <span class="index-enc-date">{{enc["data"]}}</span><br>
                    <span class="index-enc-dim">{{enc["rows"]}}x{{enc["cols"]}}</span> · <b>{{enc["size"]}} paraules</b> · <span class="index-enc-k">k{{enc["k"]}}</span>
                    <a href="/encreuats/{{enc['enc_id']}}" class="stretched-link"></a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<hr>
<h4 class="text-center py-2 mb-2">Tutorial i exemples</h4>
<div class="card border-c bg-light mb-2 mx-3 pt-2">
    {% with context="encreuats" %}
        {% include '/encreuats/diacriptic/tutorial.html' %}
    {% endwith %}

</div>



{% endblock %}